{% if object.ownerLastname is defined %}
    {{ form_row(object.ownerLastname) }}
{% endif %}
{% if object.ownerFirstname is defined %}
    {{ form_row(object.ownerFirstname) }}
{% endif %}
{% if object.brand is defined %}
    {{ form_row(object.brand) }}
{% endif %}
{% if object.model is defined %}
    {{ form_row(object.model) }}
{% endif %}
{% if object.phoneNumberLine is defined %}
    {{ form_row(object.phoneNumberLine) }}
{% endif %}
{% if object.operator is defined %}
    {{ form_row(object.operator) }}
{% endif %}
{% if object.serialNumber is defined %}
    {{ form_row(object.serialNumber) }}
{% endif %}
{% if object.description is defined and object.category.vars.value in ["3", "7"] %}
    <div class="fr-mb-4v">
        {% embed 'embed/counter.html.twig' with {
            'parent': 'objects_objects_0_description',
            'minlength': object.description.vars.attr.minlength,
            'maxlength': object.description.vars.attr.maxlength,
        } %}{% block label %}
                {{ form_label(object.description) }}
            {% endblock %}
            {% block widget %}
                {{ form_widget(object.description) }}
            {% endblock %}
            {% block errors %}
                {{ form_errors(object.description) }}
            {% endblock %}
        {% endembed %}
    </div>
{% endif %}
