{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'pel.make.appointment'|trans }}</h1>

    <div class="fr-grid-row">
        <div class="fr-col">
            <a class="fr-btn" href="{{ path('summary') }}">
                {{ 'pel.previous'|trans }}
            </a>
            <a class="fr-btn" href="{{ path('finalization') }}">
                {{ 'pel.next'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
