{% extends 'base.html.twig' %}

{% block body %}
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col">
                {{ form_start(form) }}
                {{ form_row(form) }}
                <button type="submit" class="fr-btn fr-mt-2w">{{ 'submit'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
        {% if files is not empty %}
            <div class="fr-grid-row">
                <div class="fr-col">
                    <ul>
                        {% for file in files %}
                            <li>
                                <a href="{{ path('file_download', {'fileName':file.fileName}) }}">
                                    {{ 'file.download'|trans }} {{ file.fileName }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
