{% extends 'base.html.twig' %}

{% block body %}
    {{ 'information.message'|trans }}
    <a class="fr-btn" href="#">{{ 'access.to.the.form'|trans }}</a>
    <div>
        <p>
            <a class="fr-btn" href="#">{{ 'keep.going'|trans }}</a>
        </p>
        <p>
            <a class="fr-btn" href="https://www.moncommissariat.interieur.gouv.fr">{{ 'redirect.to.police'|trans }}</a>
        </p>
        <p>
            <a class="fr-btn" href="https://www.gendarmerie.interieur.gouv.fr">{{ 'redirect.to.gendarmerie'|trans }}</a>
        </p>
    </div>
{% endblock %}
