{{ form_start(form) }}
    <div class="row mt-3">
        <div class="col-12">
            {{ form_label(form.label) }} {{ loop.index }}
            {{ form_widget(form.label) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            {{ form_row(form.brand) }}
        </div>
        <div class="col-6">
            {{ form_row(form.model) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            {{ form_row(form.serialNumber) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            {{ form_row(form.operator) }}
        </div>
        <div class="col-6">
            {{ form_row(form.phoneNumber) }}
        </div>
    </div>
{#    <div class="row mt-3">#}
{#        <div class="col-6">#}
{#            {{ form_row(form.simNumber) }}#}
{#        </div>#}
{#        <div class="col-6">#}
{#            {{ form_row(form.opposition) }}#}
{#        </div>#}
{#    </div>#}
    {{ include('pages/complaint/forms/_object_form.html.twig', {'form' : form} ) }}
{{ form_end(form) }}
