{% extends 'complaint/complaint_layout.html.twig' %}

{% block complaint_step_form %}
    {{ 'complaint.location'|trans }}

    <div class="fr-grid-row">
        <div class="fr-col">
            <a class="fr-btn" href="{{ path('complaint_offense_nature') }}">
                {{ 'previous'|trans }}
            </a>
            <a class="fr-btn" href="{{ path('appointment') }}">
                {{ 'next'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
