<div
    data-controller="home checkbox-group dashboard-bulk-action"
    data-action="checkbox-group:updateChecked->dashboard-bulk-action#setBulkTarget dashboard-bulk-action:finished->datatable#refresh dashboard-bulk-action:finished->checkbox-group#resetAll"
    data-dashboard-bulk-action-url-bulk-assign-value="{{ path('complaint_bulk_assign') }}"
    {# Hidden for experimentation PEL-1590#}
    {# data-dashboard-bulk-action-url-bulk-reassign-value="{{ path('complaint_bulk_reassign') }}" #}
    class="w-100"
>
    <div class="d-flex align-items-center justify-content-start">
        <button class="fr-btn fr-btn--icon-left fr-btn--secondary fr-icon-equalizer-line me-4 mb-3" data-action="click->content-sidebar#openSidebar" data-content-sidebar-target="contentSidebarOpenButton">{{ 'pel.filters'|trans }}</button>
        {{ form_start(search_form) }}
        <div class="fr-search-bar mb-3 me-4" id="header-search" role="search">
            <label class="fr-label" for="search_query">{{ 'pel.search'|trans }}</label>
            {{ form_widget(search_form.query, {'attr':{'class':'fr-input', 'aria-label':'pel.search.your.declarations'|trans}}) }}
            <button class="fr-btn" title="{{ 'pel.search'|trans }}">{{ 'pel.search'|trans }}</button>
        </div>
        {{ form_end(search_form) }}
        {% if is_granted('ROLE_SUPERVISOR') %}
            <div id="groupActionsList" data-checkbox-group-target="groupAction" class="mb-3 d-none">
                <button class="fr-btn fr-btn--icon-left fr-icon-user-setting-fill me-4" data-bs-toggle="modal" data-bs-target="#modal-complaint-assign">{{ 'pel.assign.to'|trans }}</button>
                {# Hidden for experimentation PEL-1590 #}
                {# <button class="fr-btn fr-btn--icon-left fr-icon-arrow-go-forward-line" data-bs-toggle="modal" data-bs-target="#modal-complaint-unit-reassign">{{ 'pel.validate.the.unit.reassignment'|trans }}</button>#}
            </div>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table
            class="table table-striped datatable w-100"
            data-order="{{ [[(is_granted('ROLE_SUPERVISOR')) ? 7 : 6,'asc']]|json_encode }}"
            data-column-defs="{{ [{orderable: false, targets: 0}]|json_encode }}"
            data-page-length="25"
            data-datatable-target="table"
            id="datatable"
            data-ajax="{{ path(pathComplaints) }}"
        >
            <thead class="table-head">
            <tr>
                {% if is_granted('ROLE_SUPERVISOR') %}
                    <th scope="col" data-datatable-target="theadCell" data-column="checkbox">
                        {# DSFR hack to avoid bad input position #}
                        <div style="margin-top: -35px;">
                            <div class="fr-checkbox-group fr-checkbox-group--sm position-relative">
                                <input
                                    name="mainSelectorGroupAction"
                                    type="checkbox"
                                    id="mainSelectorGroupAction"
                                    class="background-white position-relative mt-n3"
                                    data-checkbox-group-target="main"
                                    data-action="click->checkbox-group#mainClick"
                                >
                                <label class="fr-label" for="mainSelectorGroupAction"></label>
                            </div>
                        </div>
                    </th>
                {% endif %}
                <th scope="col" data-datatable-target="theadCell" data-column="createdAt">{{ 'pel.deposit.date'|trans }}</th>
                <th scope="col" data-datatable-target="theadCell" data-column="__facts_natures">{{ 'pel.facts'|trans }}</th>
                <th scope="col" data-datatable-target="theadCell" data-column="alert">{{ 'pel.alert'|trans }}</th>
                <th scope="col" data-datatable-target="theadCell" data-column="appointmentDate">{{ 'pel.meeting.date'|trans }}</th>
                <th scope="col" data-datatable-target="theadCell" data-column="status">{{ 'pel.status'|trans }}</th>
                <th scope="col" data-datatable-target="theadCell" data-column="__assignedTo_appellation">{{ 'pel.a.opj.name'|trans }}</th>
                <th scope="col" data-datatable-target="theadCell" data-column="declarationNumber">{{ 'pel.declaration.number'|trans }}</th>
                <th scope="col" data-datatable-target="theadCell" data-column="__identity_firstname">{{ 'pel.firstname.lastname'|trans }}</th>
                <th scope="col" data-datatable-target="theadCell" data-column="___count_comments">{{ 'pel.com'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    {% if is_granted('ROLE_SUPERVISOR') %}
        {% include 'pages/home/_partial/modals/bulk_assign.html.twig' with {
            'bulk_assign_form': bulk_assign_form
        } %}
        {% include 'pages/home/_partial/modals/bulk_reassign.html.twig' with {
            'bulk_reassign_form': bulk_reassign_form
        } %}
    {% endif %}
</div>
