<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                {{ 'pel.ministry'|trans }}
                                <br>{{ 'pel.inside'|trans }}
                                <br>{{ 'pel.and.overseas'|trans }}
                            </p>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ path('home') }}" title="Accueil - {{ 'pel.ministry'| trans }} {{ 'pel.inside'|trans }} {{ 'pel.and.overseas'|trans }}">
                            <p class="fr-header__service-title">
                                {{ 'pel.complaint.online'|trans }}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            {{ include('includes/_nav.html.twig') }}
        </div>
    </div>
</header>
