<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}" title="{{ 'pel.home'|trans }}">
            <img id="image_logo" src="{{ asset('build/images/logo.png') }}" alt="Logo Plainte en ligne" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <div class="d-flex flex-column navbar-nav me-auto mb-2 mb-lg-0">
                <h1>{{ 'pel.agent.complaint.online'|trans }}</h1>
                <p>{{ 'pel.header.baseline'|trans }}</p>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="{{ 'pel.search'|trans }}" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">{{ 'pel.search'|trans }}</button>
            </form>
        </div>
    </div>
</nav>
