{% if app.user %}
    {% set notifications = app.user|user_unclicked_notifications %}
{% endif %}
<div data-controller="sidebar">
    <header role="banner" class="fr-header">
        <div class="fr-header__body">
            <div class="row w-100 mw-100 h-100 g-0">
                <div class="col-md-8 col-lg-9 col-xxl-10 mx-auto px-3 px-lg-4">
                    <div class="fr-header__body-row">
                        <div class="fr-header__brand fr-enlarge-link">
                            <div class="fr-header__brand-top">
                                <div class="fr-header__logo">
                                    <p class="fr-logo">
                                        {{ 'pel.ministry'|trans }}<br>
                                        {{ 'pel.from.the.inside'|trans }}<br>
                                        {{ 'pel.and.overseas.department'|trans }}
                                    </p>
                                </div>
                                <div class="fr-header__navbar">
                                    {% if notifications is defined and notifications is not empty %}
                                        <div class="circled background-red text-white width-20px height-20px d-flex align-items-center justify-content-center m-2 pull-right z-max small position-absolute push-right push-top">{{ (notifications|length>9) ? '9+' : notifications|length }}</div>
                                    {% endif %}
                                    <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-navbar" aria-haspopup="menu" id="button-navbar" title="{{ 'pel.menu'|trans }}">{{ 'pel.menu'|trans }}</button>
                                </div>
                            </div>
                            <div class="fr-header__service">
                                <a href="{{ path('home') }}" class="text-black text-decoration-none" title="{{ 'pel.home'|trans }} - {{ 'pel.complaint.online'|trans }} : {{ 'pel.portal'|trans }} {{ (is_granted('ROLE_SUPERVISOR')) ? 'pel.supervisor'|trans : 'pel.agent'|trans }} - {{ 'pel.ministry'|trans }} {{ 'pel.from.the.inside'|trans }} {{ 'pel.and.overseas.department'|trans }}">
                                    <p class="fr-header__service-title m-0">{{ 'pel.complaint.online'|trans }} : {{ 'pel.portal'|trans }} {{ (is_granted('ROLE_SUPERVISOR')) ? 'pel.supervisor'|trans : 'pel.agent'|trans }}</p>
                                </a>
                            </div>
                        </div>
                        <div class="fr-header__tools d-none d-lg-flex align-items-end">
                            {% if app.user %}
                                <div class="d-flex align-items-center text-center text-md-end">
                                    <a class="d-block text-secondary text-decoration-none m-3 background-transparent" href="#" data-sidebar-target="bell" data-action="click->sidebar#openNotificationsSidebar" id="notifications-dropdown">
                                        <img src="{{ asset('build/images/icons/bell.svg') }}" alt="{{ 'pel.notifications'|trans }}">
                                        {% if notifications is defined and notifications is not empty %}
                                            <div class="circled background-red text-white width-20px height-20px d-flex align-items-center justify-content-center m-2 position-absolute top-30px right-0 small push-left">{{ (notifications|length>9) ? '9+' : notifications|length }}</div>
                                        {% endif %}
                                    </a>
                                    <button class="avatar background-grey-active background-grey-hover rounded-circle text-light m-2" data-action="click->sidebar#openProfileSidebar" data-sidebar-target="avatar">{{ app.user.initials }}</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-header__menu fr-modal" id="modal-navbar" aria-labelledby="button-navbar">
            <div class="row w-100 mw-100 h-100 g-0">
                <div class="col-md-8 col-lg-9 col-xxl-10 mx-auto px-4">
                    <div class="fr-header__menu-links">
                        <button class="fr-btn--close fr-btn mt-2" aria-controls="modal-navbar" title="{{ 'pel.close'|trans }}">
                            {{ 'pel.close'|trans }}
                        </button>
                    </div>
                    <nav class="fr-nav d-flex flex-column flex-lg-row align-items-center justify-content-between" id="navigation-navbar" role="navigation" aria-label="{{ 'pel.menu'|trans }}">
                        <ul class="fr-nav__list width-auto width-lg-100">
                            {% if app.user %}
                                <div class="d-block d-lg-none">
                                    <div class="d-flex align-items-center text-center text-lg-end">
                                        <div class="dropdown" id="notifications-dropdown">
                                            <a class="d-flex align-items-end text-secondary text-decoration-none m-3 background-transparent" href="#" role="button" data-action="click->sidebar#openNotificationsSidebar">
                                                <div class="me-3">
                                                    <img src="{{ asset('build/images/icons/bell-small.svg') }}" alt="{{ 'pel.notifications'|trans }}">
                                                    {% if notifications is defined and notifications is not empty %}
                                                        <div class="circled background-red text-white width-20px height-20px d-flex align-items-center justify-content-center m-2 position-absolute top-0 right-0 small push-left">{{ (notifications|length>9) ? '9+' : notifications|length }}</div>
                                                    {% endif %}
                                                </div>
                                                <div class="fw-bold text-black">{{ 'pel.notifications'|trans }}</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="m-3 text-center">
                                        <img src="{{ asset('build/images/icons/user.svg') }}" alt="{{ app.user.appellation }}">
                                    </div>
                                    <div class="fw-bold text-center mb-3 text-black">{{ app.user.appellation }}</div>
                                    <div class="text-center text-secondary mb-3">
                                        {% if is_granted('ROLE_SUPERVISOR') %}
                                            {{ 'pel.supervisor'|trans }}
                                        {% else %}
                                            {{ 'pel.agent'|trans }}
                                        {% endif %}
                                    </div>
                                    <div class="fw-semibold text-center mb-5 text-blue">{{ app.user.serviceCode|unit_name }}</div>
                                </div>
                            {% endif %}
                            <li class="fr-nav__item border-0 border-bottom">
                                <a class="fr-nav__link text-blue-hover reset-link border-bottom-active border-blue-active background-transparent {% if app.request.attributes.get('_route') in ['dashboard', 'dashboard_priority'] %}active{% endif %}" href="{{ path('dashboard') }}" target="_self">{{ 'pel.dashboard'|trans }}</a>
                            </li>
                            <li class="fr-nav__item">
                                <a class="fr-nav__link text-blue-hover reset-link border-bottom-active border-blue-active background-transparent {% if app.request.attributes.get('_route') is same as('home') %}active{% endif %}" href="{{ path('home') }}" target="_self">{{ 'pel.the.declarations'|trans }}</a>
                            </li>
                            <li class="fr-nav__item">
                                <a class="fr-nav__link text-blue-hover reset-link border-bottom-active border-blue-active background-transparent {% if app.request.attributes.get('_route') is same as('faq') %}active{% endif %}" href="{{ path('faq') }}" target="_self">{{ 'pel.faq.space'|trans }}</a>
                            </li>
                            {# Temporarily removed #}
                            {#
                            <li class="fr-nav__item">
                                <a class="fr-nav__link text-blue-hover reset-link border-bottom-active border-blue-active background-transparent" href="#" target="_self">{{ 'pel.settings'|trans }}</a>
                            </li>
                            #}
                        </ul>
                        {% if app.user %}
                            <div class="text-uppercase d-none d-lg-block text-black">{{ app.user.serviceCode|unit_name }}</div>
                        {% endif %}
                        <a href="{{ path('app_sso_less_close_session') }}" title="{{ 'pel.logout'|trans }}" class="align-self-start d-flex d-lg-none align-items-center reset-link text-black text-blue-hover mt-5 mb-5">
                            <img src="{{ asset('build/images/icons/signout-fill.svg') }}" alt="{{ 'pel.logout'|trans }}" class="me-2">
                            {{ 'pel.logout'|trans }}
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% if app.user %}
        <div class="d-none position-fixed w-100 h-100 background-black-transparent z-max top-0 right-0 bottom-0 left-0" data-sidebar-target="profileBackground"></div>
        <div class="d-none position-fixed width-20 background-white fixed-right fixed-right-push-y p-4 shadow-sm z-max overflow-auto" data-sidebar-target="profileSidebar">
            <div class="d-flex align-items-center justify-content-between">
                <span class="fw-bold text-black">{{ 'pel.profile'|trans }}</span>
                <button class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-close-line" data-action="click->sidebar#closeProfileSidebar">
                    {{ 'pel.close'|trans }}
                </button>
            </div>
            <div class="m-3 text-center">
                <img src="{{ asset('build/images/icons/user.svg') }}" alt="{{ app.user.appellation }}">
            </div>
            <div class="fw-bold text-center mb-3 text-black">{{ app.user.appellation }}</div>
            <div class="text-center text-secondary mb-3">
                {% if is_granted('ROLE_SUPERVISOR') and not is_granted('ROLE_DELEGATED') %}
                    {{ 'pel.supervisor'|trans }}
                {% else %}
                    {{ 'pel.agent'|trans }}
                {% endif %}
            </div>
            <div class="fw-semibold text-center mb-3 text-black {{ (is_right_delegation_active(app.user)) ? 'mb-3' : 'mb-5' }}">{{ app.user.serviceCode|unit_name }}</div>
            {% if is_right_delegation_active(app.user) %}
                <div class="mb-5 text-red text-center">
                    <img src="{{ asset('build/images/icons/rights-delegation-activated.svg') }}" alt="{{ 'pel.rights.delegation'|trans }}" class="me-1">
                    {{ 'pel.the.rights.delegation.is'|trans }} <span class="fw-bold">{{ 'pel.activated'|trans }}</span>
                </div>
            {% endif %}
            <a href="#" title="{{ 'pel.display.settings'|trans }}" class="d-block reset-link text-blue fw-semibold p-3 text-blue-active" aria-controls="fr-theme-modal" data-fr-opened="false">
                <img src="{{ asset('build/images/icons/display-settings.svg') }}" alt="{{ 'pel.display.settings'|trans }}" class="me-1">
                {{ 'pel.display.settings'|trans }}
            </a>
            <a href="#" title="{{ 'pel.rights.delegation'|trans }}" class="d-block reset-link text-blue fw-semibold p-3 text-blue-active" data-action="click->sidebar#openRightsDelegationModal">
                <img src="{{ asset('build/images/icons/rights-delegation.svg') }}" alt="{{ 'pel.rights.delegation'|trans }}" class="me-1">
                {{ 'pel.rights.delegation'|trans }}
            </a>
            <dialog id="fr-theme-modal" class="fr-modal" role="dialog" aria-labelledby="fr-theme-modal-title">
                <div class="fr-container fr-container--fluid fr-container-md">
                    <div class="fr-grid-row fr-grid-row--center">
                        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
                            <div class="fr-modal__body">
                                <div class="fr-modal__header">
                                    <button class="fr-btn--close fr-btn" aria-controls="fr-theme-modal" id="button-5622" title="{{ 'pel.close'|trans }}">{{ 'pel.close'|trans }}</button>
                                </div>
                                <div class="fr-modal__content">
                                    <h1 id="fr-theme-modal-title" class="fr-modal__title">{{ 'pel.display.settings'|trans }}</h1>
                                    <div id="fr-display" class="fr-display">
                                        <fieldset class="fr-fieldset" id="display-fieldset">
                                            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="display-fieldset-legend">{{ 'pel.choose.a.theme'|trans }}</legend>
                                            <div class="fr-fieldset__element">
                                                <div class="fr-radio-group fr-radio-rich">
                                                    <input value="light" type="radio" id="fr-radios-theme-light" name="fr-radios-theme">
                                                    <label class="fr-label" for="fr-radios-theme-light">{{ 'pel.light.theme'|trans }}</label>
                                                    <div class="fr-radio-rich__img">
                                                        <svg aria-hidden="true" class="fr-artwork padding-10px" viewBox="0 0 80 80" width="80px" height="80px">
                                                            <use class="fr-artwork-decorative" href="{{ asset('build/images/icons/light.svg') }}#artwork-decorative"></use>
                                                            <use class="fr-artwork-minor" href="{{ asset('build/images/icons/light.svg') }}#artwork-minor"></use>
                                                            <use class="fr-artwork-major" href="{{ asset('build/images/icons/light.svg') }}#artwork-major"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fr-fieldset__element">
                                                <div class="fr-radio-group fr-radio-rich">
                                                    <input value="dark" type="radio" id="fr-radios-theme-dark" name="fr-radios-theme">
                                                    <label class="fr-label" for="fr-radios-theme-dark">{{ 'pel.dark.theme'|trans }}</label>
                                                    <div class="fr-radio-rich__img">
                                                        <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                                            <use class="fr-artwork-decorative" href="{{ asset('build/images/icons/dark.svg') }}#artwork-decorative"></use>
                                                            <use class="fr-artwork-minor" href="{{ asset('build/images/icons/dark.svg') }}#artwork-minor"></use>
                                                            <use class="fr-artwork-major" href="{{ asset('build/images/icons/dark.svg') }}#artwork-major"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fr-fieldset__element">
                                                <div class="fr-radio-group fr-radio-rich">
                                                    <input value="system" type="radio" id="fr-radios-theme-system" name="fr-radios-theme">
                                                    <label class="fr-label" for="fr-radios-theme-system">
                                                        {{ 'pel.system'|trans }}
                                                        <span class="fr-hint-text">{{ 'pel.uses.system.settings'|trans }}</span>
                                                    </label>
                                                    <div class="fr-radio-rich__img">
                                                        <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                                            <use class="fr-artwork-decorative" href="{{ asset('build/images/icons/system.svg') }}#artwork-decorative"></use>
                                                            <use class="fr-artwork-minor" href="{{ asset('build/images/icons/system.svg') }}#artwork-minor"></use>
                                                            <use class="fr-artwork-major" href="{{ asset('build/images/icons/system.svg') }}#artwork-major"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </dialog>
            <a href="#" title="{{ 'pel.settings'|trans }}" class="d-block reset-link text-blue fw-semibold p-3 text-blue-active">
                <img src="{{ asset('build/images/icons/settings.svg') }}" alt="{{ 'pel.settings'|trans }}" class="me-1">
                {{ 'pel.settings'|trans }}
            </a>
            {% if not sso_is_enabled %}
                <a href="{{ path('app_sso_less_close_session') }}" title="{{ 'pel.logout'|trans }}" class="d-block reset-link text-blue fw-semibold p-3 text-blue-active">
                    <img src="{{ asset('build/images/icons/signout.svg') }}" alt="{{ 'pel.logout'|trans }}" class="me-1">
                    {{ 'pel.logout'|trans }}
                </a>
            {% endif %}
        </div>
        <div class="d-none position-fixed w-100 h-100 background-black-transparent z-max top-0 right-0 bottom-0 left-0" data-sidebar-target="notificationsBackground"></div>
        <div class="d-none position-fixed width-20 background-white fixed-right fixed-right-push-y shadow-sm z-ultra overflow-auto" data-sidebar-target="notificationsSidebar">
            <div class="d-flex align-items-center justify-content-between p-4">
                <span class="fw-bold text-black">{{ 'pel.notifications'|trans }}</span>
                <button class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-close-line" data-action="click->sidebar#closeNotificationsSidebar">
                    {{ 'pel.close'|trans }}
                </button>
            </div>
            <ul class="reset-list m-0 p-0">
                {% for notification in notifications %}
                    <li class="m-0 p-0">
                        <a class="d-block reset-link text-black border-top p-3 {{ notification.isUrgent ? 'background-grey' : 'background-white' }}" href="{{ path('notification', {id:notification.id}) }}">{{ notification.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if app.user and is_granted('ROLE_SUPERVISOR') %}
        {% include 'common/_partial/modals/delegate.html.twig' %}
    {% endif %}
</div>
