<div class="title--navigation">
    <div class="fs-2">
        {{ 'pel.complaint.online.portal'|trans }}
        {% if app.user %}
            : {{ app.user.serviceCode|unit_name }}
        {% endif %}
    </div>
    <ul class="list-group list-group-horizontal">
        <li class="border border-0 list-group-item {% if app.request.attributes.get('_route') is same as('home') %}text-decoration-underline{% endif %}">
            <a href="{{ path('home') }}" title="{{ 'pel.home.title'|trans }}">{{ 'pel.home'|trans }}</a>
        </li>
        <li class="border border-0 list-group-item {% if app.request.attributes.get('_route') is same as('reporting') %}text-decoration-underline{% endif %}">
            <a href="{{ path('reporting') }}" title="{{ 'pel.reporting.title'|trans }}">{{ 'pel.reporting'|trans }}</a>
        </li>
        <li class="border border-0 list-group-item {% if app.request.attributes.get('_route') is same as('faq') %}text-decoration-underline"{% endif %}">
            <a href="{{ path('faq') }}" title="{{ 'pel.faq.title'|trans }}">{{ 'pel.faq'|trans }}</a>
        </li>
    </ul>
</div>
