<div class="fr-col" data-controller="counter" data-counter-minlength-value="{{ minlength }}" data-counter-maxlength-value="{{ maxlength }}" data-action="input->counter#updateCount">
    {% block label %}{% endblock %}
    <p class="fr-hint-text fr-mb-0" data-counter-target="counterContainer" data-live-ignore>
        {% if help is defined %}
            {{ help|trans }}
        {% endif %}
        {% if minlength is same as(0) %}
            {{ 'pel.maximum'|trans }}
            <span data-counter-target="counterMaxLength"></span>
            {{ 'pel.characters'|trans }}
        {% else%}
            {{ 'pel.between'|trans }}
            <span data-counter-target="counterMinLength"></span>
            {{ 'pel.and'|trans|lower }}
            <span data-counter-target="counterMaxLength"></span>
            {{ 'pel.characters'|trans }}
        {% endif %}
        <span data-counter-target="counter" class="fr-text--red-marianne pel-bold"></span>
    </p>
    {% block widget %}{% endblock %}
    {% block errors %}{% endblock %}
</div>
