{% if app.user %}
    {% embed "common/_modal.html.twig" with {'id':'delegate-rights', 'size':'lg'} %}
        {% block attr_sup %}data-sidebar-target="rightsDelegationModal"{% endblock %}

        {% block title %}
            <div class="fs-4">{{ 'pel.rights.delegation'|trans }}</div>
        {% endblock %}

        {% block body %}
            <div class="p-4">
                {{ form_start(delegation_right_form, {'attr': {'data-sidebar-target': 'delegationForm'}}) }}
                    <div class="fs-5 mb-3">{{ 'pel.select.the.delegation.period'|trans }}</div>
                    <div class="border-bottom pb-3" data-sidebar-target="delegationDatesCalendarBlock">
                        {{ form_row(delegation_right_form.dateRangePicker, {'attr': {'data-sidebar-target': 'delegationDatesRangePicker', 'data-action': 'change->sidebar#changeDelegationDatesRanges'}}) }}
                        {{ form_row(delegation_right_form.startDate, {'attr': {'data-sidebar-target': 'delegationStartDate'}}) }}
                        {{ form_row(delegation_right_form.endDate, {'attr': {'data-sidebar-target': 'delegationEndDate'}}) }}
                    </div>
                    <div class="border-bottom pb-3 mb-3" data-sidebar-target="delegationDatesSelectedBlock">
                        <div class="d-flex align-items-center justify-content-between">
                            <p>
                                {{ 'pel.selected.delegation.period'|trans }}
                                <span class="text-blue fw-bold">
                                    {{ 'pel.from'|trans }}
                                    <span data-sidebar-target="delegationSelectedStartDate"></span>
                                    {{ 'pel.to'|trans }}
                                    <span data-sidebar-target="delegationSelectedEndDate"></span>
                                </span>
                            </p>
                            <button type="button" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-edit-fill mb-3" data-action="click->sidebar#updateDelegationDates">{{ 'pel.update.delegation.dates'|trans }}</button>
                        </div>
                    </div>
                    <div class="border-bottom" data-sidebar-target="delegationAgentsBlock">
                        <div class="fs-5 mb-3">{{ 'pel.select.one.or.more.delegated.agents'|trans }}</div>
                        {{ form_row(delegation_right_form.delegatedAgents) }}
                    </div>
                {{ form_end(delegation_right_form) }}
            </div>
        {% endblock %}

        {% block footer %}
            <div class="px-4">
                <button type="button" class="fr-btn fr-btn--secondary me-3" id="delegate-rights-back" data-bs-dismiss="modal">{{ 'pel.cancel'|trans }}</button>
                <button type="button" class="fr-btn" id="delegate-rights-validate" data-action="sidebar#delegate" data-sidebar-url-param="{{ path('validate_delegation_rights') }}" data-sidebar-target="delegationModalValidateButton">{{ 'pel.validate'|trans }}</button>
            </div>
        {% endblock %}
    {% endembed %}
{% endif %}
