{% extends 'pages/complaint/layout.html.twig' %}

{% block main %}
    <div class="border border-secondary bg-light rounded p-3">
        <span id="declarant-identity" class="fs-3 fw-semibold lh-lg">{{ 'pel.appointment.management'|trans }}</span>
        {{ include('pages/complaint/_partial/appointment_content.html.twig') }}
        <div class="d-flex appointment-footer m-3">
            <button type="button" class="btn btn-danger btn-appointment">{{ 'pel.appointment.cancel'|trans }}</button>
            <button type="button"
                    id="appointment-modify-button"
                    class="btn btn-primary btn-appointment btn-appointment-modify"
                    data-action="complaint#modifyAppointment"
                    data-complaint-target="modifyAppointmentButton"
            >
                {{ 'pel.appointment.modify'|trans }}
            </button>
            <button type="button"
                    class="btn btn-success btn-appointment"
                    data-action="complaint#validateAppointment"
                    data-complaint-url-param="{{ path('complaint_appointment_validate', { id: complaint.id }) }}"
            >
                {{ 'pel.appointment.validate'|trans }}
            </button>
        </div>
    </div>
{% endblock %}
