{% extends 'base.html.twig' %}

{% block body %}
    {{ include('common/_complaint_toast.html.twig') }}
    <div class="container-fluid my-3">
        <div class="row">
            <aside class="col-12 col-md-3">
                {% include 'common/_complaint_nav.html.twig' with {'complaint':complaint, 'reject_form':reject_form} only %}
            </aside>
            <main class="col-12 col-md-9 p-3 mt-3 mt-md-0">
                {{ form_start(identity_form) }}
                <fieldset class="border border-secondary bg-light rounded-3 p-3">
                    <legend class="float-none w-auto px-3">
                        {{ 'pel.declarant.civil.status'|trans }}
                    </legend>
                    <ul class="list-unstyled">
                        <li>
                            {{ form_row(identity_form.civility, {attr: {class: 'test'}}) }}
                        </li>
                        <li class="mt-3">
                            <div class="row">
                                <div class="col-6">
                                    {{ form_row(identity_form.lastname) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(identity_form.firstname) }}
                                </div>
                            </div>
                        </li>
                        <li class="mt-3">
                            <div class="row">
                                <div class="col-6">
                                    {{ form_row(identity_form.birthCountry) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(identity_form.birthday) }}
                                </div>
                            </div>
                        </li>
                        <li class="mt-3">
                            <div class="row">
                                <div class="col-6">
                                    {{ form_row(identity_form.birthCity) }}
                                </div>
                            </div>
                        </li>
                    </ul>
                </fieldset>
                <fieldset class="border border-secondary bg-light rounded-3 p-3 mt-3">
                    <legend class="float-none w-auto px-3">
                        {{ 'pel.declarant.contact.information'|trans }}
                    </legend>
                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-6">
                                    {{ form_row(identity_form.phone) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(identity_form.email) }}
                                </div>
                            </div>
                        </li>
                        <li class="mt-3">
                            <h6>{{ 'pel.sms.notification'|trans }}</h6>
                            {{ form_row(identity_form.smsNotifications) }}
                        </li>
                    </ul>
                </fieldset>
                <fieldset class="border border-secondary bg-light rounded-3 p-3 mt-3">
                    <legend class="float-none w-auto px-3">
                        {{ 'pel.declarant.address'|trans }}
                    </legend>
                    <ul class="list-unstyled">
                        <li>
                            {{ form_row(identity_form.address) }}
                        </li>
                    </ul>
                </fieldset>
                <fieldset class="border border-secondary bg-light rounded-3 p-3 mt-3">
                    <legend class="float-none w-auto px-3">
                        {{ 'pel.declarant.situation'|trans }}
                    </legend>
                    <ul class="list-unstyled">
                        <li>
                            {{ form_row(identity_form.declarantStatus) }}
                        </li>
                    </ul>
                </fieldset>
                {{ form_end(identity_form) }}
            </main>
        </div>
    </div>
{% endblock %}
