{% extends 'pages/complaint/layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-12 text-end">
            {% if complaint.identity.declarantStatus is same as(constant('App\\Entity\\Identity::DECLARANT_STATUS_PERSON_LEGAL_REPRESENTATIVE')) or complaint.identity.declarantStatus is same as(constant('App\\Entity\\Identity::DECLARANT_STATUS_CORPORATION_LEGAL_REPRESENTATIVE')) %}
                <a href="{{ path('complaint_victim_identity', {id:complaint.id}) }}" class="btn btn-secondary">
                    <i class="bi bi-arrow-right"></i> {{ 'pel.go.to.tab'|trans }} : {{ 'pel.victim.identity'|trans }}
                </a>
            {% else %}
                <a href="{{ path('complaint_facts', {id:complaint.id}) }}" class="btn btn-secondary">
                    <i class="bi bi-arrow-right"></i> {{ 'pel.go.to.tab'|trans }} : {{ 'pel.description.of.facts'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
    {{ form_start(identity_form) }}
    <fieldset class="border border-secondary bg-light rounded-3 p-3">
        <legend class="float-none w-auto px-3">
            {{ 'pel.declarant.civil.status'|trans }}
        </legend>
        <div class="row">
            <div class="col-12">
                {{ form_row(identity_form.civility) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                {{ form_row(identity_form.lastname) }}
            </div>
            <div class="col-6">
                {{ form_row(identity_form.firstname) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                {{ form_row(identity_form.birthCountry) }}
            </div>
            <div class="col-6">
                {{ form_row(identity_form.birthday) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                {{ form_row(identity_form.birthCity) }}
            </div>
            <div class="col-6">
                {{ form_row(identity_form.birthDepartment) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                {{ form_row(identity_form.job) }}
            </div>
        </div>
    </fieldset>
    <fieldset class="border border-secondary bg-light rounded-3 p-3 mt-3">
        <legend class="float-none w-auto px-3">
            {{ 'pel.declarant.contact.information'|trans }}
        </legend>
        <div class="row">
            <div class="col-6">
                {{ form_row(identity_form.mobilePhone) }}
            </div>
            <div class="col-6">
                {{ form_row(identity_form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="fw-semibold lh-lg">{{ 'pel.sms.notification'|trans }}</span>
                {{ form_row(identity_form.smsNotifications) }}
            </div>
        </div>
    </fieldset>
    <fieldset class="border border-secondary bg-light rounded-3 p-3 mt-3">
        <legend class="float-none w-auto px-3">
            {{ 'pel.declarant.address'|trans }}
        </legend>
        <div class="row">
            <div class="col-12">
                {{ form_row(identity_form.address) }}
            </div>
        </div>
    </fieldset>
    <fieldset class="border border-secondary bg-light rounded-3 p-3 mt-3">
        <legend class="float-none w-auto px-3">
            {{ 'pel.declarant.situation'|trans }}
        </legend>
        <div class="row">
            <div class="col-12">
                {{ form_row(identity_form.declarantStatus) }}
            </div>
        </div>
    </fieldset>
    {{ form_end(identity_form) }}
{% endblock %}
