{% extends 'layout.html.twig' %}

{% block body %}
    {% block mainContainer %}
        {% block toaster %}
            {% include 'pages/complaint/_partial/toaster.html.twig' %}
        {% endblock %}
        <div data-controller="complaint" data-complaint-target="complaintContainer" id="complaint-container">
            {# <div class="mb-3">
                {{ 'pel.number.of.the.declaration'|trans }} :
                <span class="fw-bold">{{ complaint.declarationNumber }}</span>
            </div>
            <div class="row my-3 {{ not complaint.assignedTo ? 'd-none':'' }}" id="complaint-agent">
                <div class="col">
                    <div class="fs-5 float-end">
                        {{ 'pel.declaration.assigned.to'|trans }} :
                        <span class="agent-name fw-bold">{{ complaint.assignedTo.appellation|default }}</span>
                        {% if is_granted('ROLE_SUPERVISOR') and complaint.status not in [constant('App\\Entity\\Complaint::STATUS_REJECTED'), constant('App\\Entity\\Complaint::STATUS_CLOSED')] %}
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#modal-complaint-assign" id="complaint-reassign-button">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div> #}
            <div class="row my-3">
                {% include 'pages/complaint/_partial/menu.html.twig' %}
                <main class="col-12 col-md-9 mt-3 mt-md-0">
                    <div class="row mb-3">
                        <div class="col-6">
                            <p class="m-0">
                                {{ 'pel.number.of.the.declaration'|trans }} :
                                <span class="fw-bold">{{ complaint.declarationNumber }}</span>
                            </p>
                            <p class="m-0">
                                {{ 'pel.declaration.status'|trans }} :
                                {{ complaint.status|trans }}
                            </p>
                            <p class="m-0 {{ not complaint.alert ? 'd-none' : '' }}">
                                {{ 'pel.declaration.alert'|trans }} :
                                <span class="fw-bold text-danger">{{ complaint.alert|trans }}</span>
                            </p>
                        </div>
                        <div class="col-6">
                            <div class="text-end {{ not complaint.appointmentDate ? 'd-none':'' }}">
                                {{ 'pel.appointment.planned.with.the.victim'|trans }} <i class="bi bi-calendar-check-fill p-3"></i>
                            </div>
                            <div class="fs-5 text-end {{ not complaint.assignedTo ? 'd-none':'' }}" id="complaint-agent">
                                {{ 'pel.declaration.assigned.to'|trans }} :
                                <span class="agent-name fw-bold">{{ complaint.assignedTo.appellation|default }}</span>
                                {% if is_granted('ROLE_SUPERVISOR') and complaint.status not in [constant('App\\Entity\\Complaint::STATUS_REJECTED'), constant('App\\Entity\\Complaint::STATUS_CLOSED')] %}
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#modal-complaint-assign" id="complaint-reassign-button">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% block main %}{% endblock %}
                    {% block comment %}
                        {% include 'pages/complaint/_partial/comments.html.twig' %}
                    {% endblock %}
                </main>
            </div>
            {% block modal %}
                {% if complaint.status not in [constant('App\\Entity\\Complaint::STATUS_REJECTED'), constant('App\\Entity\\Complaint::STATUS_CLOSED')] %}
                    {% if is_granted('ROLE_SUPERVISOR') %}
                        {% include 'pages/complaint/_partial/modals/assign.html.twig' with {
                            'assignedTo': complaint.assignedTo,
                            'complaintId': complaint.id,
                            'assignForm': assign_form
                        } %}
                    {% endif %}
                    {% include 'pages/complaint/_partial/modals/reject.html.twig' with {
                        'rejectForm': reject_form,
                        'complaintId': complaint.id
                    } %}
                    {% include 'pages/complaint/_partial/modals/send_to_lrp.html.twig' with {
                        'complaintId': complaint.id
                    } %}
                    {% include 'pages/complaint/_partial/modals/send_to_victim.html.twig' with {
                        'dragDropForm': drag_drop_form,
                        'complaintId': complaint.id
                    } %}
                    {% include 'pages/complaint/_partial/modals/reassign.html.twig' with {
                        'unitReassignForm': unit_reassign_form,
                        'complaintId': complaint.id
                    } %}
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
