{% extends 'pages/complaint/layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-12 text-end">
            <a href="{{ path('complaint_additional_information', {id:complaint.id}) }}" class="btn btn-secondary">
                <i class="bi bi-arrow-right"></i> {{ 'pel.go.to.tab'|trans }} : {{ 'pel.additional.informations'|trans }}
            </a>
        </div>
    </div>
    <fieldset class="border border-secondary bg-light rounded-3 p-3">
        <legend class="float-none w-auto px-3">
            {{ 'pel.stolen.objects'|trans }}
        </legend>
        {% for form in object_forms %}
            {% if form.vars.name is same as('multimedia_object') %}
                {{ include('pages/complaint/forms/multimedia_object_form.html.twig', {'form' : form} ) }}
            {% elseif form.vars.name is same as('administrative_document') %}
                {{ include('pages/complaint/forms/administrative_document_form.html.twig', {'form' : form} ) }}
            {% elseif form.vars.name is same as('payment_method') %}
                {{ include('pages/complaint/forms/payment_method_form.html.twig', {'form' : form} ) }}
            {% elseif form.vars.name is same as('vehicle') %}
                {{ include('pages/complaint/forms/vehicle_form.html.twig', {'form' : form} ) }}
            {% endif %}
            {% if loop.index >= 1 and loop.index < loop.length %}
                <hr class="hr-object">
            {% endif %}
        {% endfor %}
    </fieldset>
    <fieldset class="border border-secondary bg-light rounded-3 p-3 mt-3">
        <legend class="float-none w-auto px-3">
            {{ 'pel.total.objects.concerned'|trans }}
        </legend>
        <div class="row">
            <div class="col-12">
                {{ 'pel.there.is.a.total.of'|trans }}
                <span id="objects_number" class="bg-secondary bg-opacity-50 rounded p-2">{{ complaint.objects|objects_quantity }}</span>
                {{ 'pel.objects'|trans({'objects': complaint.objects|objects_quantity}) }},
                {{ 'pel.for.a.total.amount.of'|trans }}
                <span id="total_amount" class="bg-secondary bg-opacity-50 rounded p-2">{{ complaint.objects|objects_total_amount|format_currency('EUR', {fraction_digit: 0}) }}</span>
            </div>
        </div>
    </fieldset>
{% endblock %}
