{% extends 'pages/complaint/layout.html.twig' %}

{% block main %}
    <div class="border border-secondary bg-light rounded p-3">
        <span id="declarant-identity" class="fs-3 fw-semibold lh-lg text-decoration-underline">{{ 'pel.identification'|trans }}</span>
        <ul>
            <li>
                {{ 'pel.civility'|trans }} :
                <strong>
                    {% if complaint.identity.civility is same as(constant('App\\Entity\\Identity::CIVILITY_MALE')) %}
                        {{ 'pel.sir'|trans }}
                    {% else %}
                        {{ 'pel.madam'|trans }}
                    {% endif %}
                    {{ complaint.identity.lastname }}
                    {{ complaint.identity.firstname }}
                </strong>
            </li>
            <li>
                {{ 'pel.born.on'|trans }} : <strong>{{ complaint.identity.birthday|date('d/m/Y') }}</strong>
                {{ 'pel.at.in'|trans }}: <strong>{{ complaint.identity.birthCountry }}</strong>
                {{ 'pel.department'|trans }} : <strong>{{ complaint.identity.birthDepartmentNumber }}</strong>
            </li>
            <li>
                {{ 'pel.nationality'|trans }} : <strong>{{ complaint.identity.nationality }}</strong>
            </li>
            <li>
                {{ 'pel.resides.at'|trans }} : <strong>{{ complaint.identity.address }}</strong>
            </li>
            <li>
                {{ 'pel.job'|trans }} : <strong>{{ complaint.identity.job }}</strong>
            </li>
            <li>
                {{ 'pel.phone'|trans }} : <strong>{{ complaint.identity.mobilePhone }}</strong>
                {{ 'pel.email'|trans }} : <strong>{{ complaint.identity.email }}</strong>
            </li>
            <li>{{ 'pel.want.to.receive.sms.notifications'|trans }} :
                <strong>
                    {% if complaint.optinNotification %}
                        {{ 'pel.yes'|trans }}
                    {% else %}
                        {{ 'pel.no'|trans }}
                    {% endif %}
                </strong>
            </li>
            <li id="victim-identity">
                {{ 'pel.is.designated.as'|trans }}
                <strong>
                    {% if complaint.identity.declarantStatus is same as(constant('App\\Entity\\Identity::DECLARANT_STATUS_VICTIM')) %}
                        {{ 'pel.victim'|trans }}
                    {% elseif complaint.identity.declarantStatus is same as(constant('App\\Entity\\Identity::DECLARANT_STATUS_PERSON_LEGAL_REPRESENTATIVE')) %}
                        {{ 'pel.person.legal.representative'|trans }}
                    {% else %}
                        {{ 'pel.corporation.legal.representative'|trans }}
                    {% endif %}
                </strong>
                {{ 'pel.of.infraction'|trans }}
            </li>

            {% if complaint.identity.declarantStatus is same as(constant('App\\Entity\\Identity::DECLARANT_STATUS_PERSON_LEGAL_REPRESENTATIVE')) and complaint.personLegalRepresented is not null %}
                <ul>
                    <li>
                        {{ 'pel.civility'|trans }} :
                        <strong>
                            {% if complaint.personLegalRepresented.civility is same as(constant('App\\Entity\\Identity::CIVILITY_MALE')) %}
                                {{ 'pel.sir'|trans }}
                            {% else %}
                                {{ 'pel.madam'|trans }}
                            {% endif %}
                            {{ complaint.personLegalRepresented.lastname }}
                            {{ complaint.personLegalRepresented.firstname }}
                        </strong>
                    </li>
                    <li>
                        {{ 'pel.born.on'|trans }} : <strong>{{ complaint.personLegalRepresented.birthday|date('d/m/Y') }}</strong>
                        {{ 'pel.at.in'|trans }}: <strong>{{ complaint.personLegalRepresented.birthCountry }}</strong>
                        {{ 'pel.department'|trans }} : <strong>{{ complaint.personLegalRepresented.birthDepartmentNumber }}</strong>
                    </li>
                    <li>
                        {{ 'pel.nationality'|trans }} : <strong>{{ complaint.personLegalRepresented.nationality }}</strong>
                    </li>
                    <li>
                        {{ 'pel.resides.at'|trans }} : <strong>{{ complaint.personLegalRepresented.address }}</strong>
                    </li>
                    <li>
                        {{ 'pel.job'|trans }} : <strong>{{ complaint.personLegalRepresented.job }}</strong>
                    </li>
                    <li>
                        {{ 'pel.phone'|trans }} : <strong>{{ complaint.personLegalRepresented.mobilePhone }}</strong>
                        {{ 'pel.email'|trans }} : <strong>{{ complaint.personLegalRepresented.email }}</strong>
                    </li>
                </ul>
            {% elseif complaint.identity.declarantStatus is same as(constant('App\\Entity\\Identity::DECLARANT_STATUS_CORPORATION_LEGAL_REPRESENTATIVE')) and complaint.corporationRepresented is not null %}
                <ul>
                    <li>
                        {{ 'pel.siren.number'|trans }} : <strong>{{ complaint.corporationRepresented.sirenNumber }}</strong>
                    </li>
                    <li>
                        {{ 'pel.company.name'|trans }} : <strong>{{ complaint.corporationRepresented.companyName }}</strong>
                    </li>
                    <li>
                        {{ 'pel.declarant.position'|trans }} : <strong>{{ complaint.corporationRepresented.declarantPosition }}</strong>
                    </li>
                    <li>
                        {{ 'pel.nationality'|trans }} : <strong>{{ complaint.corporationRepresented.nationality }}</strong>
                    </li>
                    <li>
                        {{ 'pel.email'|trans }} : <strong>{{ complaint.corporationRepresented.contactEmail }}</strong>
                    </li>
                    <li>
                        {{ 'pel.phone'|trans }} : <strong>{{ complaint.corporationRepresented.phone }}</strong>
                    </li>
                    <li>
                        {{ 'pel.country'|trans }} : <strong>{{ complaint.corporationRepresented.country }}</strong>
                    </li>
                    <li>
                        {{ 'pel.address'|trans }} : <strong>{{ complaint.corporationRepresented.address }}</strong>
                    </li>
                </ul>
            {% endif %}
        </ul>

        <hr class="border border-2 border-dark">
        <span id="facts-description" class="fs-3 fw-semibold lh-lg text-decoration-underline">{{ 'pel.description.of.facts'|trans }}</span>
        <ul>
            <li>
                {{ 'pel.description.of.facts'|trans }} :
                <strong>{{ complaint.facts.description }}</strong>
            </li>
            <li>
                {{ 'pel.nature.of.the.facts'|trans }} :
                <strong>{% include 'common/_complaint_natures.html.twig' with {'natures':complaint.facts.natures} only %}</strong>
            </li>
            <li>
                {{ 'pel.nature.place'|trans }} : <strong>{{ complaint.facts.place }}</strong>
            </li>
            {% if complaint.facts.startAddress is not null %}
                <li>
                    {{ 'pel.address.start.or.exact'|trans }} : <strong>{{ complaint.facts.startAddress }}</strong>
                </li>
            {% endif %}
            {% if complaint.facts.endAddress is not null %}
                <li>
                    {{ 'pel.address.end'|trans }} : <strong>{{ complaint.facts.endAddress }}</strong>
                </li>
            {% endif %}
            <li>
                {{ 'pel.facts.date'|trans }} :
                {% if complaint.facts.exactDateKnown %}
                    <strong>{{ 'pel.the'|trans }} {{ complaint.facts.startDate|date('d/m/Y', app.user.timezone) }}</strong>
                {% else %}
                    <strong>{{ 'pel.between'|trans|lower }} {{ 'pel.the'|trans|lower }} {{ complaint.facts.startDate|date('d/m/Y', app.user.timezone) }} {{ 'pel.and'|trans|lower }} {{ 'pel.the'|trans|lower }} {{ complaint.facts.endDate|date('d/m/Y', app.user.timezone) }}</strong>
                {% endif %}
            </li>
            {% if complaint.facts.exactHourKnown is same as(constant('App\\Entity\\Facts::EXACT_HOUR_KNOWN_YES')) or complaint.facts.exactHourKnown is same as(constant('App\\Entity\\Facts::EXACT_HOUR_KNOWN_NO')) %}
                <li>
                    {{ 'pel.facts.hour'|trans }} :
                    {% if complaint.facts.exactHourKnown is same as(constant('App\\Entity\\Facts::EXACT_HOUR_KNOWN_YES')) %}
                        <strong>{{ complaint.facts.startHour|date('H\\hi', app.user.timezone) }}</strong>
                    {% else %}
                        <strong>{{ 'pel.between'|trans|lower }} {{ complaint.facts.startHour|date('H\\hi', app.user.timezone) }}
                            {{ 'pel.and'|trans|lower }} {{ complaint.facts.endHour|date('H\\hi', app.user.timezone) }}
                        </strong>
                    {% endif %}
                </li>
            {% endif %}

        </ul>
        <hr class="border border-2 border-dark">
        <span id="additional-information" class="fs-3 fw-semibold lh-lg text-decoration-underline">{{ 'pel.additional.informations'|trans }}</span>
        <ul>
            <li>
                {{ 'pel.facts.witnesses'|trans }} :
                <strong>{{ complaint.additionalInformation.witnessesPresent ? 'pel.yes'|trans : 'pel.no'|trans }}</strong>
            </li>
            {% if complaint.additionalInformation.witnessesPresent %}
                <li>
                    {{ 'pel.facts.witnesses.information.text'|trans }} :
                    <strong>{{ complaint.additionalInformation.witnessesPresentText }}</strong>
                </li>
            {% endif %}
            <li>
                {{ 'pel.do.you.have.informations.on.potential.suspects'|trans }} :
                <strong>{{ complaint.additionalInformation.suspectsKnown ? 'pel.yes'|trans : 'pel.no'|trans }}</strong>
            </li>
            {% if complaint.additionalInformation.suspectsKnown %}
                <li>
                    {{ 'pel.facts.suspects.informations.text'|trans }} :
                    <strong>{{ complaint.additionalInformation.suspectsKnownText }}</strong>
                </li>
            {% endif %}
            <li>
                {{ 'pel.cctv.present'|trans }} :
                <strong>
                    {% if complaint.additionalInformation.cctvPresent is same as(constant('App\\Entity\\AdditionalInformation::CCTV_PRESENT_YES')) %}
                        {{ 'pel.yes'|trans }}
                    {% elseif complaint.additionalInformation.cctvPresent is same as(constant('App\\Entity\\AdditionalInformation::CCTV_PRESENT_NO')) %}
                        {{ 'pel.no'|trans }}
                    {% else %}
                        {{ 'pel.i.dont.know'|trans }}
                    {% endif %}
                </strong>
            </li>
            {% if complaint.additionalInformation.cctvPresent is same as(constant('App\\Entity\\AdditionalInformation::CCTV_PRESENT_YES')) %}
                <li>
                    {{ 'pel.cctv.available'|trans }} :
                    <strong>{{ complaint.additionalInformation.cctvAvailable ? 'pel.yes'|trans : 'pel.no'|trans }}</strong>
                </li>
            {% endif %}
            <li>
                {{ 'pel.fsi.visit'|trans }} :
                <strong>{{ complaint.additionalInformation.fsiVisit ? 'pel.yes'|trans : 'pel.no'|trans }}</strong>
            </li>
            {% if complaint.additionalInformation.fsiVisit %}
                <li>
                    {{ 'pel.observation.made'|trans }} :
                    <strong>{{ complaint.additionalInformation.observationMade ? 'pel.yes'|trans : 'pel.no'|trans }}</strong>
                </li>
            {% endif %}
            <li>
                {{ 'pel.other.victim.present'|trans }} :
                <strong>{{ 'pel.yes'|trans }}</strong>
            </li>
            <li>
                {{ 'pel.victim.of.violence'|trans }} :
                <strong>{{ complaint.additionalInformation.victimOfViolence ? 'pel.yes'|trans : 'pel.no'|trans }}</strong>
            </li>
            {% if complaint.additionalInformation.victimOfViolence %}
                <li>
                    {{ 'pel.victim.of.violence.text'|trans }} :
                    <strong>{{ complaint.additionalInformation.victimOfViolenceText }}</strong>
                </li>
            {% endif %}
        </ul>
        <hr class="border border-2 border-dark">
        <span id="objects-concerned" class="fs-3 fw-semibold lh-lg text-decoration-underline">{{ 'pel.objects.description'|trans }}</span>
        <p>{{ 'pel.objects.stolen'|trans }}</p>
        <ul>
            {% for object in complaint.objects %}
                {% if object|object_type is same as('App\\Entity\\FactsObjects\\AdministrativeDocument') %}
                    <li>
                        <strong>{{ 'pel.number'|trans }} {{ loop.index }}</strong> : {{ object.type }}
                        {% if object.amount is not null %}
                            - {{ object.amount|format_currency('EUR', {fraction_digit: 0}) }}
                        {% endif %}
                    </li>
                {% elseif object|object_type is same as('App\\Entity\\FactsObjects\\MultimediaObject') %}
                    <li>
                        <strong>{{ 'pel.number'|trans }} {{ loop.index }}</strong> : {{ object.label }}
                        - {{ object.model }} - {{ object.brand }}
                        - {{ object.amount|format_currency('EUR', {fraction_digit: 0}) }} - {{ object.operator }}
                    </li>
                {% elseif object|object_type is same as('App\\Entity\\FactsObjects\\PaymentMethod') %}
                    <li>
                        <strong>{{ 'pel.number'|trans }} {{ loop.index }}</strong> : {{ object.type }}
                        - {{ object.description }} - {{ object.bank }}
                        {% if object.amount is not null %}
                            - {{ object.amount|format_currency('EUR', {fraction_digit: 0}) }}
                        {% endif %}
                    </li>
                {% elseif object|object_type is same as('App\\Entity\\FactsObjects\\Vehicle') %}
                    <li>
                        <strong>{{ 'pel.number'|trans }} {{ loop.index }}</strong> : {{ object.label }}
                        - {{ object.brand }} - {{ object.model }}
                        {% if object.amount is not null %}
                            - {{ object.amount|format_currency('EUR', {fraction_digit: 0}) }}
                        {% endif %}
                    </li>
                {% elseif object|object_type is same as('App\\Entity\\FactsObjects\\SimpleObject') %}
                    <li><strong>{{ 'pel.number'|trans }} {{ loop.index }}</strong> : {{ object.nature }}
                        - {{ object.description }}
                        {% if object.amount is not null %}
                            - {{ object.amount|format_currency('EUR', {fraction_digit: 0}) }}
                        {% endif %}
                    </li>
                {% endif %}

                {% if object.files is not empty %}
                    <ul>
                        {% for file in object.files %}
                            <li>
                                <a href="{{ path('file_view', {'id':complaint.id, 'name':file}) }}" target="_blank">Pièce jointe {{ loop.index }}</a>
                                <a href="{{ path('file_download', {'id':complaint.id, 'name':file}) }}" target="_blank" title="{{ 'pel.click.here.to.save.this.attachment'|trans }}"><i class="bi bi-save-fill ms-1"></i></a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            {% endfor %}
        </ul>
        <p>
            <strong>{{ 'pel.total'|trans }}</strong> :
            {{ 'pel.total.message.one'|trans }}
            <strong>{{ complaint.objects|objects_quantity }} {{ 'pel.total.message.two'|trans({'%quantity%': complaint.objects|objects_quantity}) }}</strong>
            {{ 'pel.total.message.amount'|trans }}
            <strong>{{ complaint.objects|objects_total_amount|format_currency('EUR', {fraction_digit: 0}) }}</strong>
        </p>
    </div>
{% endblock %}
