{% extends 'complaint/complaint_layout.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs =  {
        'complaint.identity': 'complaint_identity',
        'complaint.nature.of.the.facts' :false
    } %}
    {{ parent() }}
{% endblock %}

{% block complaint_step_form %}
    {{ component('offense_nature', {
        form: form,
    }) }}

    <div class="fr-grid-row">
        <div class="fr-col">
            <a class="fr-btn" href="{{ path('complaint_identity') }}">
                {{ 'previous'|trans }}
            </a>
            <a class="fr-btn" href="{{ path('complaint_location') }}">
                {{ 'next'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
