{% extends 'complaint/complaint_layout.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs =  {
        'complaint.identity': 'complaint_identity',
        'complaint.offense.nature' :false
    } %}
    {{ parent() }}
{% endblock %}

{% block complaint_step_form %}
    <div class="fr-grid-row">
        <div class="fr-col">
            {{ form_start(form) }}
            <div class="fr-select-group">
                {{ form_row(form.offenseNature) }}
            </div>
            <div class="fr-input-group" id="other-aab-field">
                {% if form.aabText is defined %}
                    {{ form_row(form.aabText) }}
                {% endif %}
            </div>
            <div id="house-robbery-fields">
                {% if form.fsiVisit is defined %}
                    <div class="fr-form-group">
                        {{ form_row(form.fsiVisit) }}
                    </div>
                {% endif %}
                {% if form.technicalPoliceVisit is defined %}
                    <div class="fr-form-group">
                        {{ form_row(form.technicalPoliceVisit) }}
                    </div>
                {% endif %}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="fr-grid-row">
        <div class="fr-col">
            <a class="fr-btn" href="{{ path('complaint_identity') }}">
                {{ 'previous'|trans }}
            </a>
            <a class="fr-btn" href="{{ path('complaint_location') }}">
                {{ 'next'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
