{% embed "common/_modal.html.twig" with {'id':'complaint-unit-reassign-validation', 'size':'lg'} %}
    {% block attr_sup %}data-complaint-target="unitReassignmentModal"{% endblock %}
    {% block title %}{{ 'pel.check.unit.reassignment.asked' |trans }}{% endblock %}
    {% block body %}
        {{ include('pages/complaint/forms/unit_reassignment_validation_form.html.twig') }}
    {% endblock %}
    {% block footer %}
        <button
            type="button"
            class="btn btn-danger btn--modal-2"
            data-action="complaint#unitReassignReject"
            data-complaint-url-param="{{ path('complaint_unit_reassign_reject', { 'id': complaintId }) }}"
        >
            {{ 'pel.unit.reassignment.reject'|trans }}
        </button>
        <button
            type="button"
            class="btn btn-success btn--modal-2"
            data-action="complaint#unitReassign"
            data-complaint-url-param="{{ path('complaint_unit_reassign', { 'id': complaintId }) }}"
            data-complaint-redirection-param="{{ path('home', { 'unitReassignmentAccepted': 1 }) }}"
            data-complaint-supervisor-param="{{ is_granted('ROLE_SUPERVISOR') }}"
        >
            {{ 'pel.unit.reassignment.accept'|trans }}
        </button>
    {% endblock %}
{% endembed %}
