{% embed "common/_modal.html.twig" with {'id':'complaint-reject', 'size':'lg'} %}
    {% block attr_sup %}data-complaint-target="rejectModal"{% endblock %}

    {% block title %}
        <div class="fs-4">{{ 'pel.reject.the.declaration'|trans }}</div>
        <div class="small text-grey mb-4">{{ 'pel.select.the.reason.of.rejection'|trans }}</div>
    {% endblock %}

    {% block body %}
        <div class="px-4">
            {% set has_errors = rejectForm.refusalText.vars.errors is not empty %}
            {{ form_start(rejectForm, { attr: {'data-complaint-target': 'rejectForm' }}) }}
                {{ form_row(rejectForm.refusalReason) }}
                {% embed 'embed/counter.html.twig' with {
                    'parent': 'reject_refusalText',
                    'minlength': rejectForm.refusalText.vars.attr.minlength,
                    'maxlength': rejectForm.refusalText.vars.attr.maxlength,
                } %}
                    {% block label %}
                        {{ form_label(rejectForm.refusalText) }}
                    {% endblock %}
                    {% block widget %}
                        {{ form_widget(rejectForm.refusalText, {'attr':{'class':html_classes(attr.class ?? '', 'fr-input', {'fr-input--error':has_errors}),'aria-describedby':has_errors ? 'form-errors-'~ form.description.vars.id :false}}) }}
                    {% endblock %}
                    {% block errors %}
                        {{ form_errors(rejectForm.refusalText) }}
                    {% endblock %}
                {% endembed %}
            {{ form_end(rejectForm) }}
        </div>
    {% endblock %}

    {% block footer %}
        <div class="px-4">
            <button type="button" class="fr-btn fr-btn--secondary me-3" id="complaint-reject-button-back" data-bs-dismiss="modal">{{ 'pel.cancel'|trans }}</button>
            <button type="button" class="fr-btn" data-action="complaint#reject" data-complaint-url-param="{{ path('complaint_reject', { id:complaintId }) }}">{{ 'pel.validate.the.refusal'|trans }}</button>
        </div>
    {% endblock %}
{% endembed %}
