{% extends 'layout.html.twig' %}

{% block body %}
    {% include 'pages/home/_partial/toaster/toaster.html.twig' %}
    {# POC #}
    <div data-controller="sidebar">
        <button class="fr-btn fr-btn--icon-left fr-btn--secondary fr-icon-equalizer-line mt-2" data-action="click->sidebar#openSidebar">{{ 'pel.filters'|trans }}</button>
        <div class="d-none position-fixed width-20 z-3 background-white fixed-left p-3 shadow-sm" data-sidebar-target="sidebarAside">
            <div class="d-flex align-items-center justify-content-between">
                <span class="fw-bold">{{ 'pel.filters'|trans }}</span>
                <button class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-close-line" data-action="click->sidebar#closeSidebar">
                    {{ 'pel.close'|trans }}
                </button>
            </div>
            <ul class="reset-list m-0 p-0 w-100 mt-3">
                <li class="d-flex align-items-center mb-2 p-2 cursor-pointer border-large-left border-blue color-blue fw-bold">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                        {{ 'pel.all.complaints'|trans }}
                        <span class="fr-icon-arrow-up-s-line" aria-hidden="true"></span>
                    </div>
                </li>
                <li class="push-left d-flex align-items-center mb-2 p-2 hover-bold hover-blue">
                    {{ 'pel.reaches.deadline'|trans }}
                </li>
                <li class="push-left d-flex align-items-center mb-2 p-2 hover-bold hover-blue">
                    {{ 'pel.exceeds.deadline'|trans }}
                </li>
                <li class="push-left d-flex align-items-center mb-2 p-2 hover-bold hover-blue">
                    {{ 'pel.urgent'|trans }}
                </li>
                <li class="push-left d-flex align-items-center mb-2 p-2 hover-bold hover-blue">
                    {{ 'pel.assignment.pending'|trans }}
                </li>
                <li class="push-left d-flex align-items-center mb-2 p-2 hover-bold hover-blue">
                    {{ 'pel.ongoing.lrp'|trans }}
                </li>
                <li class="push-left d-flex align-items-center mb-2 p-2 hover-bold hover-blue">
                    {{ 'pel.waiting.for.appointment'|trans }}
                </li>
                <li class="push-left d-flex align-items-center mb-2 p-2 hover-bold hover-blue">
                    {{ 'pel.waiting.for.reattribution'|trans }}
                </li>
                <li class="push-left d-flex align-items-center mb-2 p-2 hover-bold hover-blue">
                    {{ 'pel.waiting.for.reallocation'|trans }}
                </li>
                <li class="push-left d-flex align-items-center mb-2 p-2 hover-bold hover-blue">
                    {{ 'pel.closed'|trans }}
                </li>
                <li class="push-left d-flex align-items-center mb-2 p-2 hover-bold hover-blue">
                    {{ 'pel.waiting.closing'|trans }}
                </li>
            </ul>
        </div>
    </div>
    {# END OF POC #}
    <div
        data-controller="home datatable checkbox-group dashboard-bulk-action"
        data-action="checkbox-group:updateChecked->dashboard-bulk-action#setBulkTarget dashboard-bulk-action:finished->datatable#refresh dashboard-bulk-action:finished->checkbox-group#resetAll"
        data-dashboard-bulk-action-url-bulk-assign-value="{{ path('complaint_bulk_assign') }}"
        data-dashboard-bulk-action-url-bulk-reassign-value="{{ path('complaint_bulk_reassign') }}"
    >
        <div class="row">
            <div class="col">
                {{ form_start(search_form, {'attr':{'class':'d-flex mt-4 mb-4 w-50'}}) }}
                {{ form_widget(search_form.query, {'attr':{'class':'me-2', 'aria-label':'pel.search.your.declarations'|trans}}) }}
                <button class="btn btn-outline-primary" type="submit">{{ 'pel.search'|trans }}</button>
                <button class="btn btn-outline-danger mx-2" type="button" id="resetButton">{{ 'pel.reset'|trans }}</button>
                {{ form_end(search_form) }}
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                {% if is_granted('ROLE_SUPERVISOR') %}
                    <div id="groupActionsList" data-checkbox-group-target="groupAction" class="mb-3 d-none">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-complaint-assign">
                            <i class="bi bi-person-add"></i>
                            {{ 'pel.assign.to'|trans }}
                        </button>
                        <button class="btn btn-outline-primary mx-2" data-bs-toggle="modal" data-bs-target="#modal-complaint-unit-reassign">
                            <i class="bi bi-arrow-return-right"></i>
                            {{ 'pel.validate.the.unit.reassignment'|trans }}
                        </button>
                    </div>
                {% endif %}
                <table
                    class="table table-striped datatable"
                    data-order="{{ [[(is_granted('ROLE_SUPERVISOR')) ? 7 : 6,'asc']]|json_encode }}"
                    data-column-defs="{{ [{orderable: false, targets: 0}]|json_encode }}"
                    data-page-length="25"
                    data-datatable-target="table"
                    id="datatable"
                    data-ajax="{{ path('home_complaints') }}"
                >
                    <thead class="table-head">
                    <tr>
                        {% if is_granted('ROLE_SUPERVISOR') %}
                            <th scope="col" data-datatable-target="theadCell" data-column="checkbox">
                                <input type="checkbox" class="form-check-input" id="mainSelectorGroupAction" data-checkbox-group-target="main" data-action="click->checkbox-group#mainClick">
                            </th>
                        {% endif %}
                        <th scope="col" data-datatable-target="theadCell" data-column="createdAt">{{ 'pel.deposit.date'|trans }}</th>
                        <th scope="col" data-datatable-target="theadCell" data-column="__facts_natures">{{ 'pel.facts'|trans }}</th>
                        <th scope="col" data-datatable-target="theadCell" data-column="__facts_startDate">{{ 'pel.facts.date'|trans }}</th>
                        <th scope="col" data-datatable-target="theadCell" data-column="alert">{{ 'pel.alert'|trans }}</th>
                        <th scope="col" data-datatable-target="theadCell" data-column="appointmentDate">{{ 'pel.meeting.date'|trans }}</th>
                        <th scope="col" data-datatable-target="theadCell" data-column="__identity_firstname">{{ 'pel.firstname.lastname'|trans }}</th>
                        <th scope="col" data-datatable-target="theadCell" data-column="status">{{ 'pel.status'|trans }}</th>
                        <th scope="col" data-datatable-target="theadCell" data-column="__assignedTo_appellation">{{ 'pel.a.opj.name'|trans }}</th>
                        <th scope="col" data-datatable-target="theadCell" data-column="declarationNumber">{{ 'pel.declaration.number'|trans }}</th>
                        <th scope="col" data-datatable-target="theadCell" data-column="___count_comments">{{ 'pel.comments'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        {% if is_granted('ROLE_SUPERVISOR') %}
            {% include 'pages/home/_partial/modals/bulk_assign.html.twig' with {
                'bulk_assign_form': bulk_assign_form
            } %}
            {% include 'pages/home/_partial/modals/bulk_reassign.html.twig' with {
                'bulk_reassign_form': bulk_reassign_form
            } %}
        {% endif %}
    </div>
{% endblock %}
