{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <form class="d-flex mt-4 mb-4 w-50" role="search">
                <input class="form-control me-2" type="search" placeholder="{{ 'pel.search.your.declarations'|trans }}" aria-label="{{ 'pel.search.your.declarations'|trans }}">
                <button class="btn btn-outline-primary" type="submit">{{ 'pel.search'|trans }}</button>
            </form>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <table class="table table-striped" data-order="{{ [[9,'asc']]|json_encode }}" data-column-defs="{{ [{orderable: false, targets: 0}]|json_encode }}" data-page-length="25" data-controller="datatable" id="datatable" data-ajax="{{ path('home_complaints') }}">
                <thead class="table-head">
                <tr>
                    <th scope="col" data-column="checkbox">
                        <input type="checkbox" class="form-check-input" id="checkOrUncheckAll">
                    </th>
                    <th scope="col" data-column="createdAt">{{ 'pel.deposit.date'|trans }}</th>
                    <th scope="col" data-column="__facts_natures">{{ 'pel.facts'|trans }}</th>
                    <th scope="col" data-column="__facts_startDate">{{ 'pel.facts.date'|trans }}</th>
                    <th scope="col" data-column="alert">{{ 'pel.alert'|trans }}</th>
                    <th scope="col" data-column="appointmentDate">{{ 'pel.meeting.date'|trans }}</th>
                    <th scope="col" data-column="__identity_firstname">{{ 'pel.firstname.lastname'|trans }}</th>
                    <th scope="col" data-column="status">{{ 'pel.status'|trans }}</th>
                    <th scope="col" data-column="__assignedTo_appellation">{{ 'pel.a.opj.name'|trans }}</th>
                    <th scope="col" data-column="declarationNumber">{{ 'pel.declaration.number'|trans }}</th>
                    <th scope="col" data-column="___count_comments">{{ 'pel.comments'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
