<h3>{{ 'pel.civil.state'|trans }}</h3>
<div>
    {{ form_row(form.civility) }}
    {{ form_row(form.birthName) }}
    {{ form_row(form.usageName) }}
    {{ form_row(form.firstnames) }}
    {{ form_row(form.birthDate) }}
    {{ form_row(form.birthLocation.country) }}
    {% if form.birthLocation.frenchTown is defined %}
        {{ form_row(form.birthLocation.frenchTown) }}
    {% endif %}
    {% if form.birthLocation.otherTown is defined %}
        {{ form_row(form.birthLocation.otherTown) }}
    {% endif %}
    {% if form.birthLocation.frenchTown is defined and form.birthLocation.department is defined %}
        {{ form_row(form.birthLocation.department, {'value':form.birthLocation.frenchTown.vars.value|city_get_department }) }}
    {% endif %}
    {{ form_row(form.nationality) }}
    {{ form_row(form.job) }}
</div>
