<h2>{{ 'pel.contact.information'|trans }}</h2>
{{ form_row(form.country) }}
{% if form.sameAddress is defined %}
    {% if form.frenchAddress is defined %}
        {{ form_label(form.frenchAddress, 'pel.address') }}
        {{ form_row(form.sameAddress) }}
        {{ form_row(form.frenchAddress, {attr:{'class':'etalab','data-live-ignore':true}}) }}
    {% endif %}
    {% if form.foreignAddress is defined %}
        {{ form_label(form.foreignAddress, 'pel.address') }}
        {{ form_row(form.sameAddress) }}
        {{ form_row(form.foreignAddress, {attr:{'class':'etalab','data-live-ignore':true}}) }}
    {% endif %}
{% else %}
    {% if form.frenchAddress is defined %}
        {{ form_row(form.frenchAddress, {attr:{'class':'etalab'}}) }}
    {% endif %}
    {% if form.foreignAddress is defined %}
        {{ form_row(form.foreignAddress, {attr:{'class':'etalab'}}) }}
    {% endif %}
{% endif %}
{{ form_row(form.email) }}
{{ form_row(form.phone) }}
