<h2 class="text-[22px]/7 md:text-[28px]/9 fr-mb-8v fr-mb-md-12v">{{ 'pel.corporation.legal.information'|trans }}</h2>
<div>
    {{ form_row(form.siret) }}
    {{ form_row(form.name) }}
    {{ form_row(form.function) }}
    <div class="fr-mb-6v">
        {{ form_row(form.nationality) }}
    </div>
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    <div class="fr-mb-6v">
        {{ form_row(form.country) }}
    </div>


    {% set etalab_errors = [] %}
    {% if form.frenchAddress is defined %}
        {% for error in form.frenchAddress.address.vars.errors %}
            {% set etalab_errors = etalab_errors|merge([error.message]) %}
        {% endfor %}
    {% endif %}

    <div class="fr-input-group fr-mb-6v {% if etalab_errors|length > 0 %} fr-input-group--error{% endif %}">
        {% if form.frenchAddress is defined %}
            {{ form_label(form.frenchAddress, 'pel.address', {'label_attr': {'for':'corporation-address'}}) }}
        {% endif %}

        {% if form.sameAddress is defined %}
            {{ form_row(form.sameAddress) }}
        {% endif %}

        {% if form.frenchAddress is defined %}
            {{ component('etalab_component', {
                'data-live-id': 'corporation-address',
                dataModel: 'addressSearch:corporationEtalabInput.addressSearch addressId:corporationEtalabInput.addressId addressSearchSaved:corporationEtalabInput.addressSearchSaved',
                inputName: 'corporation-address',
                dataGirondeEnabled : true,
                disabled: form.vars.value.sameAddress ?? false,
                errors: etalab_errors,
                fromIdentity: true,
            }) }}
        {% elseif form.foreignAddress is defined %}
            {{ form_widget(form.foreignAddress) }}
        {% endif %}
    </div>
</div>
