<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                {{ 'pel.ministry'|trans }}
                                <br>{{ 'pel.inside'|trans }}
                                <br>{{ 'pel.and.overseas'|trans }}
                            </p>
                        </div>
                        <div class="fr-header__navbar">
							<button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu-mobile" aria-haspopup="menu" id="fr-btn-menu-mobile" title="{{ 'pel.header.menu'|trans }}">
                                {{ 'pel.header.menu'|trans }}
							</button>
						</div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ path('home') }}" title=" {{ 'pel.complaint.online.welcome'|trans }}">
                            <p class="fr-header__service-title">
                                {{ 'pel.complaint.online'|trans }}
                            </p>
                        </a>
                        <p class="fr-header__service-tagline fr-hidden fr-unhidden-lg">
                            {{ 'pel.header.baseline'|trans }}
                        </p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-links-group">
                            <li>
                                <a href="{{ path('faq') }}" class="fr-link fr-icon-question-fill">
                                    {{ 'pel.header.help'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-menu-mobile" aria-labelledby="fr-btn-menu-mobile">
		<div class="fr-container">
			<button class="fr-btn--close fr-btn" aria-controls="modal-menu-mobile" title="{{ 'pel.close'|trans }}">
				{{ 'pel.close'|trans }}
			</button>
			<div class="fr-header__menu-links"></div>
			<nav class="fr-nav fr-hidden-lg" id="header-navigation" role="navigation" aria-label="{{ 'pel.navigation.mobile'|trans }}"></nav>
		</div>
	</div>
</header>
