<dialog {% if attribute is defined %}{{ attribute }}{% endif %} data-live-ignore aria-labelledby="fr-modal-{{ id }}-title" id="fr-modal-{{ id }}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 {% if (size is defined) and (size is same as('md')) %}fr-col-lg-6{% endif %}{% if className is defined %}{{ className }}{% endif %}">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" aria-controls="fr-modal-{{ id }}">{{ 'pel.close'|trans }}</button>
                    </div>
                    <div class="fr-modal__content">
                        <div id="fr-modal-{{ id }}-title" class="fr-modal__title">
                            {% block title %}{% endblock %}
                        </div>
                        <p>
                            {% block body %}{% endblock %}
                        </p>
                    </div>
                    <div class="fr-modal__footer {% if footerClassName is defined %}{{ footerClassName }}{% endif %}">
                        {% block footer %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
