<li>
    {{ 'pel.civility'|trans }} :
    {% if civilState.civility is same as(constant('App\\Enum\\Civility::M').value) %}
        {{ 'pel.sir'|trans }}
    {% else %}
        {{ 'pel.madam'|trans }}
    {% endif %}
    {{ civilState.birthName }}
    {{ civilState.firstnames }}
</li>
{% if civilState.usageName %}
    <li>
        {{ 'pel.usage.name'|trans }} :
        {{ civilState.usageName }}
    </li>
{% endif %}
<li>
    {{ 'pel.born.on'|trans }} : {{ civilState.birthDate|date('d/m/Y') }}
    {{ 'pel.at.in'|trans }} : {{ civilState.birthLocation.country|country_referential_name }}
    {% if civilState.birthLocation.frenchTown %}
        {{ 'pel.department'|trans }} : {{ civilState.birthLocation.frenchTown|city_get_department }}
    {% endif %}
</li>
<li>
    {{ 'pel.nationality'|trans }} :
    {{ civilState.nationality|nationality_get_name|trans }}
</li>
<li>
    {{ 'pel.resides.at'|trans }} :
    {% if contactInformation.country == fr_code %}
        {{ contactInformation.frenchAddress.label }}, France
    {% else %}
        {{ contactInformation.foreignAddress }}, {{ contactInformation.country|country_referential_name }}
    {% endif %}
</li>
<li>
    {{ 'pel.your.job'|trans }} :
    {{ civilState.job|job_get_name|trans }}
</li>
<li>
    {{ 'pel.phone'|trans }} : {{ contactInformation.phone|phone_format_intl }}
    {{ 'pel.email'|trans }} : {{ contactInformation.email }}
</li>
