<li>
    {{ 'pel.civility'|trans }} :
    {% if civilState.civility is same as(constant('App\\AppEnum\\Civility::M').value) %}
        {{ 'pel.sir'|trans }}
    {% else %}
        {{ 'pel.madam'|trans }}
    {% endif %}
    {{ civilState.birthName }}
    {{ civilState.firstnames }}
</li>
{% if civilState.usageName %}
    <li>
        {{ 'pel.usage.name'|trans }} :
        {{ civilState.usageName }}
    </li>
{% endif %}
<li>
    {{ 'pel.born.on'|trans }} : {{ civilState.birthDate|date('d/m/Y') }} {{ 'pel.at'|trans }}
    {% if civilState.birthLocation.frenchTown %}
        {% set city = civilState.birthLocation.frenchTown|city %}
        {{ city.label }} ({{ city.department }})
    {% else %}
        {{ civilState.birthLocation.otherTown }} ({{ civilState.birthLocation.country|country_referential_name }})
    {% endif %}
</li>
<li>
    {{ 'pel.nationality'|trans }} :
    {{ civilState.nationality|nationality_referential_label }}
</li>
<li>
    {{ 'pel.resides.at'|trans }} :
    {% if contactInformation.country == fr_code %}
        {{ contactInformation.frenchAddress.label }}, France
    {% else %}
        {{ contactInformation.foreignAddress }}, {{ contactInformation.country|country_referential_name }}
    {% endif %}
</li>
<li>
    {{ 'pel.your.job'|trans }} :
    {{ civilState|job_label }}
</li>
{% if contactInformation.mobile is not null and contactInformation.mobile.number is not null %}
    <li>
        {{ 'pel.mobile'|trans }} : {{ contactInformation.mobile|phone_format_intl }}
    </li>
{% endif %}
{% if contactInformation.phone is not null and contactInformation.phone.number is not null %}
    <li>
        {{ 'pel.phone'|trans }} : {{ contactInformation.phone|phone_format_intl }}
    </li>
{% endif %}
<li>
    {{ 'pel.email'|trans }} : {{ contactInformation.email }}
</li>
