{% set title = 'pel.my.online.complaint.declaration'|trans %}
{% if isAppointmentRequiredOrAsked is same as(false) %}
    {% set steps = [{'title': 'pel.legal.dispositions'}, {'title': 'pel.complaint.your.identity' }, {'title': 'pel.facts.description' }, {'title': 'pel.goods.concerned' }, {'title': 'pel.further.information' }, {'title': 'pel.summary.of.complaint' }, {'title': 'pel.registered.complaint' }] %}
    {% set steps_count = 7 %}
{% else %}
    {% set steps = [{'title': 'pel.legal.dispositions'}, {'title': 'pel.complaint.your.identity' }, {'title': 'pel.facts.description' }, {'title': 'pel.goods.concerned' }, {'title': 'pel.further.information' }, {'title': 'pel.summary.of.complaint' }, {'title': 'pel.appointment.booking' }, {'title': 'pel.registered.complaint' }] %}
    {% set steps_count = 8 %}
{% endif %}

<div class="fr-grid-row flex md:flex-col items-center fr-pt-10v fr-px-6v fr-hidden-md">
	<div class="fr-col-12">
		<div class="flex items-center">
			<div class="relative text-white font-bold text-[28px]/9 fr-pb-0 fr-pl-18v before:content-[''] before:absolute before:left-0 before:w-16 before:h-full before:bg-no-repeat before:bg-[length:58px_48px] before:bg-[url('/assets/images/icons/complaint.svg')] before:[background-position-y:center]">{{ title|raw }}</div>
		</div>
	</div>
    <div class="fr-stepper fr-col fr-mt-6v">
        <div class="fr-stepper__title text-white">
            <span class="fr-stepper__state text-white">
                {{ 'pel.step'|trans}}
                {{ current_step_number }}
                {{ 'pel.on'|trans }}
                {{ steps_count }}
            </span>
            {{ current_step_title }}
        </div>
        <div class="fr-stepper__steps fr-mt-3v" data-fr-current-step="{{ current_step_number }}" data-fr-steps="{{ steps_count }}"></div>
        {% if next_step_title is defined %}
            <p class="fr-stepper__details text-white">
                <span class="fr-text--bold">{{ 'pel.next.step'|trans }} : </span>{{ next_step_title }}
            </p>
        {% endif %}
    </div>
</div>
<div class="fr-grid-row fr-col-md-4 flex md:flex-col fr-hidden fr-unhidden-md">
	<div class="fr-pt-md-12v fr-pb-md-6v">
		<div class="relative text-white font-bold text-[28px]/9 fr-pb-0 pl-14 fr-pl-md-21v before:content-[''] before:absolute before:left-0.5 before:w-16 before:h-full before:bg-no-repeat before:bg-[url('/assets/images/icons/complaint.svg')] before:bg-center md:before:bg-[length:64px_64px]">{{ 'pel.my.online.complaint.declaration'|trans|raw }}</div>
	</div>
	<div class="fr-stepper grid m-0 mb-1">
		<ol role="list" class="list-none fr-pl-md-0">
			{% for step in steps %}
				<li class="relative marker:content-[''] fr-py-md-3v fr-mb-md-2v">
					<div class="w-1.5 h-full absolute top-0 {% if loop.index <= current_step_number  %}fr-background-default--grey{% else %}bg-[var(--light-primary-blue-france-850-active,#8B8BF6)]{% endif %}" aria-hidden="true"></div>
					<div class="fr-stepper__title md:ml-[30px] {% if loop.index <= current_step_number %}text-white font-normal{% else %}font-normal text-[var(--light-primary-blue-france-850-active,#8B8BF6)]{% endif %}{% if loop.index is same as(current_step_number)  %}font-bold{% endif %}">
						{% if loop.index is same as(current_step_number)  %}
							<span class="fr-stepper__state text-white">
								{{ 'pel.step'|trans}}
								{{ current_step_number }}
								{{ 'pel.on'|trans }}
								{{ steps_count }}
                            </span>
						{% endif %}
						{{ step.title|trans }}
					</div>
				</li>
			{% endfor %}
		</ol>
	</div>
</div>
