<div class="fr-text-center">{{ units|length }} {{ 'pel.results'|trans|lower }}</div>
<ul class="unit-list">
    {% for unit in units %}
        <li class="unit-list-item col-lg-4 col-md-6 fr-p-5v" data-unit-id-anonym="{{ unit.idAnonym }}">
            <div class="unit-list-header">
                <h2 class="fr-text--sm fr-mb-0 fr-pt-3v title-definition point-label">{{ loop.index }} - {{ unit.name|upper }}</h2>
                <button class="unit-select fr-btn fr-fi-map-pin-2-line fr-btn--icon-left fr-btn--tertiary-no-outline fr-text--sm" data-action="click->google-maps--appointment#selectUnit">
                    {{ 'pel.choose'|trans }}
                </button>
                <button class="unit-unselect fr-btn fr-fi-map-pin-2-fill fr-btn--icon-left fr-btn--tertiary-no-outline fr-text--sm fr-hidden" data-action="click->google-maps--appointment#unselectUnit">
                    {{ 'pel.chosen'|trans }}
                </button>
            </div>
            <div class="fr-text--sm fr-mb-3v">
                <div>{{ unit.address }}</div>
                <div>{{ unit.openingHours|replace({'$': "<br>"})|raw }}</div>
                <div class="fr-mt-1w">
                    <a target="_blank" class="fr-link fr-c" href="tel:{{ unit.phone }}">
                        {{ unit.phone }}
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
