{% extends 'layout.html.twig' %}

{% block title %}{{ 'pel.attachments'|trans }}{% endblock %}

{% block body %}
    <div class="fr-container fr-py-2w">
        <div class="fr-grid-row">
            <div class="fr-col">
                <h2>{{ 'pel.attachments'|trans }}</h2>
                {{ form_start(form) }}
                    {{ form_row(form.attachments) }}
                    <button type="submit" class="fr-btn fr-mt-2w">{{ 'pel.submit'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
        {% if files is not empty %}
            <div class="fr-grid-row">
                <div class="fr-col">
                    <ul id="upload_file_list">
                        {% for file in files %}
                            <li>
                                {{ file.fileName }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
