{% extends 'layout.html.twig' %}

{% block body %}
    <h1>{{ 'pel.to.log.in'|trans }}</h1>
    <div class="fr-connect-group">
        <button class="fr-connect" id="france_connect_auth_button" onclick="window.location='{{ path('identity', {'france_connected': true}) }}';">
            <span class="fr-connect__login">{{ 'pel.identify.with'|trans }}</span>
            <span class="fr-connect__brand">{{ 'pel.france.connect'|trans }}</span>
        </button>
        <p>
            <a href="https://franceconnect.gouv.fr/" target="_blank" rel="noopener" title="{{ 'pel.what.is.france.connect'|trans }} - {{ 'pel.new.window'|trans }}">{{ 'pel.what.is.france.connect'|trans }}</a>
        </p>
    </div>
    <a href="{{ path('identity', {'france_connected': false}) }}">{{ 'pel.continue.pel.without.log.in'|trans }}</a>
    <p>{{ 'pel.continue.pel.without.log.in.explanation'|trans }}</p>
{% endblock %}

