{% extends 'common/_complaint.html.twig' %}

{% set current_step_title = 'pel.facts.description'|trans %}
{% set current_step_number = 3 %}
{% set next_step_title = 'pel.goods.concerned'|trans %}
{% set isAppointmentRequiredOrAsked = complaint.isAppointmentRequired or complaint.appointment.appointmentAsked|default(false) %}

{% block title %}
    {% if isAppointmentRequiredOrAsked is same as(false) %}
        {{ 'pel.description.of.facts.step.3'|trans }}
    {% else %}
    	{{ 'pel.description.of.facts.step.3.with.appointment'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    <div data-controller="form">
        <div class="fr-pt-10v fr-pb-12v fr-px-6v fr-py-md-12v fr-px-md-20v">
            <h1 class="text-[28px]/9 md:text-[40px]/[48px] fr-mb-2v">{{ 'pel.facts.description'|trans }}</h1>
            <p class="fr-mb-0">{{ 'pel.all.fields.marked.with.an.asterisk.are.mandatory'|trans|raw }}</p>
        </div>
        <hr>
        {{ component('facts', {fromSummary: from_summary}) }}
    </div>
{% endblock %}
