{% extends 'common/_complaint.html.twig' %}

{% set current_step_title = 'pel.summary.of.complaint'|trans %}
{% set current_step_number = 7 %}
{% set next_step_title = 'pel.registered.complaint'|trans %}

{% block title %}
	{{ 'pel.registered.complaint.title'|trans }}
{% endblock %}

{% block content %}
    <div class="flex flex-col gap-y-8 md:gap-y-10 items-center fr-pt-10v fr-pb-12v fr-px-6v fr-pt-md-12v fr-px-md-20v fr-pb-md-20v">
		<img src="{{ asset('build/images/success.svg') }}">
        <h1 class="text-center fr-mb-0 text-[28px]/9 md:text-[40px]/[48px]">{{ 'pel.end.thanks'|trans }}</h1>
        <a href="#"
            class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-download-fill fr-text--lg py-3 md:py-2.5 pr-6 pl-[18px] before:content-[''] before:w-6 before:h-6">
            {{ 'pel.download.my.declaration'|trans }}
        </a>
        {% if complaint.affectedService is not null %}
            {% set unit = complaint.affectedService|unit %}
            {% if unit is not null %}
                <p class="text-xl/6 md:text-2xl text-center fr-text-mention--grey fr-mb-0"> {{ 'pel.place.complaint.handling'|trans }}</p>
                <div class="flex flex-col items-center gap-x-6 w-full md:flex-row">
                    {% if (unit.institutionCode is same as(constant('App\\AppEnum\\Institution::GN'))) %}
                        <img src="{{ asset('build/images/gendarmerie.svg') }}">
                    {% elseif (unit.institutionCode is same as(constant('App\\AppEnum\\Institution::PN'))) %}
                        <img src="{{ asset('build/images/police.svg') }}">
                    {% endif %}
                        <div class="flex flex-col text-center grow gap-y-2">
                            <b class="text-lg/6 md:text-[22px]/7">{{ unit.name }}</b>
                            <span class="text-base/5 md:text-lg/5 fr-text-mention--grey">{{ unit.address }}</span>
                        </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="fr-alert fr-alert--info fr-mb-0">
            <p>{{ 'pel.please.note.that.the.online.process.may.eventually.require.an.appointment'|trans|raw }}</p>
		    <a class="text-sm/6 fr-text-title--blue-france" href="{{ path('faq') }}" title="{{ 'pel.appointment.needed.if.more.title'|trans }}">{{ 'pel.appointment.needed.if.more'|trans }}</a>
        </div>
    </div>
    <hr class="fr-pb-0">
    <div class="fr-px-6v fr-py-10v fr-px-md-20v fr-background-alt--blue-france text-center">
        <p class="text-lg/5 fr-text-mention--grey">{{ 'pel.your.opinion'|trans }}</p>
        <a class="bg-none" href="https://jedonnemonavis.numerique.gouv.fr/Demarches/{{ jedonnemonavis_id }}?&view-mode=formulaire-avis&nd_source=button&key={{ jedonnemonavis_key }}">
            <img src="https://jedonnemonavis.numerique.gouv.fr/static/bouton-bleu.svg" alt="{{ 'pel.your.opinion.alt'|trans }}"/>
        </a>
    </div>
{% endblock %}
