{% extends 'common/_complaint.html.twig' %}

{% set current_step_title = 'pel.appointment.booking'|trans %}
{% set current_step_number = 7 %}
{% set next_step_title = 'pel.registered.complaint'|trans %}

{% block title %}
    {{ 'pel.appointment.booking.title'|trans }}
{% endblock %}

{% block content %}
    <div data-controller="form">
        <div class="flex flex-col gap-y-8 md:gap-y-10 items-center fr-pt-10v fr-pb-8v fr-px-6v fr-pt-md-12v fr-px-md-20v fr-pb-md-10v">
            <img src="{{ asset('build/images/calendar.svg') }}" class="w-[100px] md:w-[120px]" alt="">
            <h1 class="text-center fr-mb-0 text-[28px]/9 md:text-[40px]/[48px]">{{ 'pel.complaint.my.declaration'|trans }}</h1>
            <p class="m-0">{{ 'pel.all.fields.marked.with.an.asterisk.are.mandatory'|trans|raw }}</p>
        </div>
        <div class="fr-px-6v fr-pb-8v fr-px-md-20v fr-pb-md-10v">
            {% if complaint.affectedService|unit_name is not empty %}
                <p class="text-xl/6 md:text-2xl text-center fr-text-mention--grey fr-mb-0">
                    {{ 'pel.appointment.message.1'|trans }} "{{ complaint.affectedService|unit_name }}".
                    {{ 'pel.appointment.message.2'|trans }}
                </p>
            {% else %}
                <p class="text-xl/6 md:text-2xl text-center fr-text-mention--grey fr-mb-0">
                   {{ 'pel.appointment.message.3'|trans }}
                </p>
            {% endif %}
        </div>
        {{ component('appointment') }}
    </div>
{% endblock %}
