{% extends 'common/_complaint.html.twig' %}

{% set icon = 'complaint' %}
{% set title = 'pel.my.online.complaint.declaration'|trans %}
{% set current_step_title = 'pel.facts.description'|trans %}
{% set current_step_number = 3 %}
{% set next_step_title = 'pel.goods.concerned'|trans %}
{% set display_footer = false %}

{% block title %}{{ 'pel.description.of.facts.step.3'|trans }}{% endblock %}

{% block content %}
    <div data-controller="form">
        <div class="block lg:hidden p-10">
            <h1 class="text-3xl font-bold mb-3">{{ 'pel.complaint.description.of.facts'|trans }}</h1>
            <div>{{ 'pel.all.fields.marked.with'|trans }} <span class="fr-text--red-marianne font-bold">*</span> {{ 'pel.are.mandatory'|trans }}</div>
        </div>
        <hr class="block lg:hidden">
        {{ component('facts', {class: 'fr-py-1w', fromSummary: from_summary}) }}
    </div>
{% endblock %}
