{% extends 'layout.html.twig' %}

{% block body %}
    <div class="fr-container fr-py-2w">
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ 'pel.end.thanks'|trans }}
            </div>
        </div>
        {% if not is_france_connected() %}
            <div class="fr-grid-row fr-py-2w">
                <div class="fr-col">
                    <h6>{{ 'pel.your.appointment'|trans }}</h6>
                </div>
            </div>
        {% endif %}
        <div class="fr-grid-row fr-py-2w fr-text-center">
            <div class="fr-col">
                <h6>{{ 'pel.your.opinion'|trans }}</h6>
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w fr-text-center">
            <div class="fr-col-12">
                <a href="https://jedonnemonavis.numerique.gouv.fr/Demarches/{{ jedonnemonavis_id }}?&view-mode=formulaire-avis&nd_source=button&key={{ jedonnemonavis_key }}">
                    <img src="https://jedonnemonavis.numerique.gouv.fr/static/bouton-bleu.svg" alt="Je donne mon avis"/>
                </a>
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                <a class="fr-btn" href="{{ path('home') }}">
                    {{ 'pel.back.to.homepage'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
