{% extends 'common/_help.html.twig' %}

{% block title %}
	{{ 'pel.help.faq.title'|trans }}
{% endblock %}

{% block breadcrumb %}
	<ol class="fr-breadcrumb__list">
		<li>
			<a class="fr-breadcrumb__link" href="/">{{ 'pel.breadcrumb.welcome'|trans }}</a>
		</li>
		<li>
			<a class="fr-breadcrumb__link" aria-current="page">{{ 'pel.breadcrumb.help.faq'|trans }}</a>
		</li>
	</ol>
{% endblock %}

{% block heading %}
	{{ 'pel.help.faq.heading'|trans }}
{% endblock %}

{% block content %}
	<div class="fr-grid-row flex-col gap-y-10">
		<div class="fr-grid-row fr-grid-row--center fr-background-default--grey pr-6 pl-6 lg:pr-0 lg:pl-0 border-solid border-0 border-t border-t-[#dddddd] border-r border-r-[transparent] lg:border-r-[#dddddd] border-b border-b-[#dddddd] border-l border-l-[transparent] lg:border-l-[#dddddd]">
			<div class="fr-col-lg-4 pt-10 lg:pt-12 lg:pr-16 lg:pl-16 grow">
				<img src="{{ asset('build/images/document-download.svg') }}">
				<h2 class="fr-h1 mb-8">
					{{ 'pel.check.our.faq'|trans }}
				</h2>
			</div>
			<div class="fr-col-lg-8 lg:pl-2.5">
				<div class="pt-8 pb-12 lg:pt-10 lg:pb-14 lg:pl-14 lg:pr-14 lg:mt-0 border-solid border-0 lg:border-l lg:border-l-[#dddddd] border-solid border-0 border-t border-t-[#dddddd] lg:border-t-[transparent] h-full">
					<h3 id="pel-help-faq-concerned-with" class="text-2xl font-bold mb-6 lg:mb-10">{{ 'pel.help.faq.concerned.with'|trans }}</h3>
					<ul class="fr-callout__text pl-8 my-0 lg:pt-10 border-solid border-0 lg:border-t lg:border-t-[#dddddd]">
						<li class="text-xl/8 pb-2"><h4 class="text-xl/8 mb-0">{{ 'pel.help.faq.victim.of.damage.to.property'|trans|raw }}</h4>
							<p class="mt-2">{{ 'pel.help.faq.victim.of.damage.to.property.examples'|trans }}</p>
						</li>
						<li class="text-xl/8 pb-2"><h4 class="text-xl/8 mb-0">{{ 'pel.help.faq.theft.victim'|trans|raw }}</h4>
							<p class="mt-2">{{ 'pel.help.faq.theft.victim.examples'|trans }}</p>
						</li>
						<li class="text-xl/8 pb-2"><h4 class="text-xl/8 mb-0">{{ 'pel.help.faq.victim.of.credit.card.theft'|trans|raw }}</h4>
							<p class="mt-2">{{ 'pel.help.faq.victim.of.credit.card.theft.examples'|trans }}</p>

						</li>
						<li class="text-xl/8 pb-2"><h4 class="text-xl/8 mb-0">{{ 'pel.help.faq.victim.of.offline.scams'|trans|raw }}</h4>
							<p class="mt-2">{{ 'pel.help.faq.victim.of.offline.scams.examples'|trans }}</p>
						</li>
						<li class="text-xl/8 pb-2"><h4 class="text-xl/8 mb-0">{{ 'pel.help.faq.victim.of.other.property.crimes'|trans|raw }}</h4>
							<p class="mt-2">{{ 'pel.help.faq.victim.of.other.property.crimes.examples'|trans }}</p>
						</li>
					</ul>
					<div class="fr-col-12 fr-grid-row gap-x-4 items-start lg:flex-row">
						<div class="fr-text-center mt-4 lg:mt-2">
							<a href="#" class="fr-btn fr-btn--secondary fr-text--lg px-6 py-2.5">
								{{ 'pel.fsi.general.orienteer'|trans }}
							</a>
						</div>
						<div class="fr-text-center mt-4 order-first lg:mt-2 md:order-last">
							<a id="pel-confirm-online-complaint-that" href="{{ path('home_confirmation') }}#pel-confirm-online-complaint-that" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line fr-text--lg pr-5 pl-6 py-2.5 after:w-6 after:h-6">
								{{ 'pel.help.faq.fill.a.complaint'|trans }}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fr-grid-row lg:pr-0 lg:pl-0 border-solid border-0 border-t border-t-[#dddddd] border-r border-r-[transparent] lg:border-r-[#dddddd] border-b border-b-[transparent] lg:border-b-[#dddddd] ">
			<div class="fr-col-lg-4 pr-6 pl-6 pt-10 lg:pt-12 lg:pr-16 lg:pl-16 grow fr-background-default--grey">
				<img src="{{ asset('build/images/community.svg') }}">
				<h2 class="fr-h1 mt-2 mb-8">
					{{ 'pel.check.our.faq.heading'|trans }}
				</h2>
			</div>
			<div class="fr-col-lg-8 lg:pl-2.5 fr-background-default--grey">
				<div class="lg:mt-0 border-solid border-0 h-full">
					<div class="fr-accordions-group">
						<section class="fr-accordion before:shadow-none">
							<h3 class="fr-accordion__title">
								<button class="fr-accordion__btn text-lg/6 fr-text-title--blue-france px-6 py-10 lg:pr-14 lg:pb-10 lg:pl-14 gap-4 after:w-4 aria-expanded:pb-5 lg:border-l lg:border-l-[#dddddd] border-solid border-0 border-t border-t-[#dddddd] lg:border-t-[transparent] aria-expanded:border-solid aria-expanded:border-0 aria-expanded:border-l-4 aria-expanded:border-l-[var(--background-action-high-blue-france)] after:content-[''] after:h-4 after:[mask-repeat:no-repeat] after:[mask-position:center] after:[-webkit-mask-size:12px_12px] after:[mask-image:url('/assets/images/icons/chevron-down.svg')] aria-expanded:after:[mask-image:url('/assets/images/icons/chevron-up.svg')]" aria-expanded="false" aria-controls="faq-accordion-1">
									{{ 'pel.what.is.legal.representative'|trans }}
								</button>
							</h3>
							<div class="fr-collapse [&.fr-collapse--expanded]:px-6 [&.fr-collapse--expanded]:mx-0 [&.fr-collapse--expanded]:border-solid [&.fr-collapse--expanded]:border-0 [&.fr-collapse--expanded]:border-l-4 [&.fr-collapse--expanded]:border-l-[var(--background-action-high-blue-france)] lg:[&.fr-collapse--expanded]:pr-16 lg:[&.fr-collapse--expanded]:pl-14 [&.fr-collapse--expanded]:pb-4" id="faq-accordion-1">
								<p class="text-lg/8">
									{{ 'pel.what.is.legal.representative.text'|trans }}
								</p>
							</div>
						</section>
						<section class="fr-accordion">
							<h3 class="fr-accordion__title">
								<button class="fr-accordion__btn text-lg/6 fr-text-title--blue-france px-6 py-10 lg:pr-14 lg:pb-10 lg:pl-14 gap-4 after:w-4 aria-expanded:pb-5 lg:border-l lg:border-l-[#dddddd] border-solid border-0 border-t border-t-[#dddddd] lg:border-t-[transparent] aria-expanded:border-solid aria-expanded:border-0 aria-expanded:border-l-4 aria-expanded:border-l-[var(--background-action-high-blue-france)] after:content-[''] after:h-4 after:[mask-repeat:no-repeat] after:[mask-position:center] after:[-webkit-mask-size:12px_12px] after:[mask-image:url('/assets/images/icons/chevron-down.svg')] aria-expanded:after:[mask-image:url('/assets/images/icons/chevron-up.svg')]" aria-expanded="false" aria-controls="faq-accordion-2">
									{{ 'pel.can.i.make.a.physical.appointment'|trans }}
								</button>
							</h3>
							<div class="fr-collapse [&.fr-collapse--expanded]:px-6 [&.fr-collapse--expanded]:mx-0 [&.fr-collapse--expanded]:border-solid [&.fr-collapse--expanded]:border-0 [&.fr-collapse--expanded]:border-l-4 [&.fr-collapse--expanded]:border-l-[var(--background-action-high-blue-france)] lg:[&.fr-collapse--expanded]:pr-16 lg:[&.fr-collapse--expanded]:pl-14 [&.fr-collapse--expanded]:pb-4" id="faq-accordion-2">
								<p class="text-lg/8">{{ 'pel.can.i.make.a.physical.appointment.text'|trans }}</p>
							</div>
						</section>
						<section class="fr-accordion">
							<h3 class="fr-accordion__title">
								<button class="fr-accordion__btn text-lg/6 fr-text-title--blue-france px-6 py-10 lg:pr-14 lg:pb-10 lg:pl-14 gap-4 after:w-4 aria-expanded:pb-5 lg:border-l lg:border-l-[#dddddd] border-solid border-0 border-t border-t-[#dddddd] lg:border-t-[transparent] aria-expanded:border-solid aria-expanded:border-0 aria-expanded:border-l-4 aria-expanded:border-l-[var(--background-action-high-blue-france)] after:content-[''] after:h-4 after:[mask-repeat:no-repeat] after:[mask-position:center] after:[-webkit-mask-size:12px_12px] after:[mask-image:url('/assets/images/icons/chevron-down.svg')] aria-expanded:after:[mask-image:url('/assets/images/icons/chevron-up.svg')]" aria-expanded="false" aria-controls="faq-accordion-3">
									{{ 'pel.why.i.require.a.physical.appointment'|trans }}
								</button>
							</h3>
							<div class="fr-collapse [&.fr-collapse--expanded]:px-6 [&.fr-collapse--expanded]:pb-10 [&.fr-collapse--expanded]:mx-0 [&.fr-collapse--expanded]:border-solid [&.fr-collapse--expanded]:border-0 [&.fr-collapse--expanded]:border-l-4 [&.fr-collapse--expanded]:border-l-[var(--background-action-high-blue-france)] lg:[&.fr-collapse--expanded]:pr-16 lg:[&.fr-collapse--expanded]:pl-14" id="faq-accordion-3">
								<p class="text-lg/8 mb-0">{{ 'pel.why.i.require.a.physical.appointment.text'|trans }}</p>
								<ul class="text-lg/8 my-0 pl-[30px]">
									<li class="pb-0">{{ 'pel.why.i.require.a.physical.appointment.text.theft.with.violence'|trans|raw }}</li>
									<li class="pb-0">{{ 'pel.why.i.require.a.physical.appointment.text.theft.of.registered.vehicle'|trans|raw }}</li>
									<li class="pb-0">{{ 'pel.why.i.require.a.physical.appointment.text.continue.pel.without.log.in'|trans|raw }}</li>
									<li class="pb-0">{{ 'pel.why.i.require.a.physical.appointment.text.other.complex.offenses'|trans|raw }}</li>
								</ul>
							</div>
						</section>
						<section class="fr-accordion">
							<h3 class="fr-accordion__title">
								<button class="fr-accordion__btn text-lg/6 fr-text-title--blue-france px-6 py-10 lg:pr-14 lg:pb-10 lg:pl-14 gap-4 after:w-4 aria-expanded:pb-5 lg:border-l lg:border-l-[#dddddd] border-solid border-0 border-t border-t-[#dddddd] lg:border-t-[transparent] aria-expanded:border-solid aria-expanded:border-0 aria-expanded:border-l-4 aria-expanded:border-l-[var(--background-action-high-blue-france)] after:content-[''] after:h-4 after:[mask-repeat:no-repeat] after:[mask-position:center] after:[-webkit-mask-size:12px_12px] after:[mask-image:url('/assets/images/icons/chevron-down.svg')] aria-expanded:after:[mask-image:url('/assets/images/icons/chevron-up.svg')]" aria-expanded="false" aria-controls="faq-accordion-4">
									{{ 'pel.what.is.goods.damages'|trans }}
								</button>
							</h3>
							<div class="fr-collapse [&.fr-collapse--expanded]:px-6 [&.fr-collapse--expanded]:mx-0 [&.fr-collapse--expanded]:border-solid [&.fr-collapse--expanded]:border-0 [&.fr-collapse--expanded]:border-l-4 [&.fr-collapse--expanded]:border-l-[var(--background-action-high-blue-france)] lg:[&.fr-collapse--expanded]:pr-16 lg:[&.fr-collapse--expanded]:pl-14 [&.fr-collapse--expanded]:pb-4" id="faq-accordion-4">
								<p class="text-lg/8">{{ 'pel.what.is.goods.damages.text'|trans }}</p>
							</div>
						</section>
						<section class="fr-accordion">
							<h3 class="fr-accordion__title">
								<button class="fr-accordion__btn text-lg/6 fr-text-title--blue-france px-6 py-10 lg:px-14 gap-4 after:w-4 aria-expanded:pb-5 lg:border-l lg:border-l-[#dddddd] border-solid border-0 border-t border-t-[#dddddd] lg:border-t-[transparent] aria-expanded:border-solid aria-expanded:border-0 aria-expanded:border-l-4 aria-expanded:border-l-[var(--background-action-high-blue-france)] after:content-[''] after:h-4 after:[mask-repeat:no-repeat] after:[mask-position:center] after:[-webkit-mask-size:12px_12px] after:[mask-image:url('/assets/images/icons/chevron-down.svg')] aria-expanded:after:[mask-image:url('/assets/images/icons/chevron-up.svg')]" aria-expanded="false" aria-controls="faq-accordion-5">
									{{ 'pel.why.we.ask.me.to.be.france.connected'|trans }}
								</button>
							</h3>
							<div class="fr-collapse [&.fr-collapse--expanded]:px-6 [&.fr-collapse--expanded]:mx-0 [&.fr-collapse--expanded]:border-solid [&.fr-collapse--expanded]:border-0 [&.fr-collapse--expanded]:border-l-4 [&.fr-collapse--expanded]:border-l-[var(--background-action-high-blue-france)] lg:[&.fr-collapse--expanded]:pr-16 lg:[&.fr-collapse--expanded]:pl-14 [&.fr-collapse--expanded]:pb-10" id="faq-accordion-5">
								<p class="text-lg/8">{{ 'pel.identity.of.the.complainant.is.mandatory'|trans }}</p>
								<p class="text-lg/8">{{ 'pel.france.connect.allow.this.verification'|trans }}</p>
								<p class="text-lg/8">{{ 'pel.guaranteed.identity.informations'|trans }}</p>
								<p class="text-lg/8">
									{{ 'pel.if.you.dont.have.a.france.connect.account'|trans }}
									<a href="https://franceconnect.gouv.fr" target="_blank" rel="noopener" title="{{ 'pel.france.connect.click.to.create.an.account'|trans }}">{{ 'pel.france.connect.click.to.create.an.account'|trans }}</a>
								</p>
								<p class="text-lg/8">{{ 'pel.otherwise.you.will.have.to.go.to.the.office'|trans }}</p>
								<p class="text-lg/8">
									<a href="https://franceconnect.gouv.fr/cgu" target="_blank" rel="noopener" title="{{ 'pel.read.more.about.france.connect'|trans }}">{{ 'pel.read.more.about.france.connect'|trans }}</a>
								</p>
							</div>
						</section>
						<section class="fr-accordion">
							<h3 class="fr-accordion__title">
								<button class="fr-accordion__btn text-lg/6 fr-text-title--blue-france px-6 py-10 lg:px-14 gap-4 after:w-4 aria-expanded:pb-5 lg:border-l lg:border-l-[#dddddd] border-solid border-0 border-t border-t-[#dddddd] lg:border-t-[transparent] aria-expanded:border-solid aria-expanded:border-0 aria-expanded:border-l-4 aria-expanded:border-l-[var(--background-action-high-blue-france)] after:content-[''] after:h-4 after:[mask-repeat:no-repeat] after:[mask-position:center] after:[-webkit-mask-size:12px_12px] after:[mask-image:url('/assets/images/icons/chevron-down.svg')] aria-expanded:after:[mask-image:url('/assets/images/icons/chevron-up.svg')]" aria-expanded="false" aria-controls="faq-accordion-6">
									{{ 'pel.what.if.i.know.the.offense.author'|trans }}
								</button>
							</h3>
							<div class="fr-collapse [&.fr-collapse--expanded]:px-6 [&.fr-collapse--expanded]:mx-0 [&.fr-collapse--expanded]:border-solid [&.fr-collapse--expanded]:border-0 [&.fr-collapse--expanded]:border-l-4 [&.fr-collapse--expanded]:border-l-[var(--background-action-high-blue-france)] lg:[&.fr-collapse--expanded]:pr-16 lg:[&.fr-collapse--expanded]:pl-14 [&.fr-collapse--expanded]:pb-4" id="faq-accordion-6">
								<p class="text-lg/8">{{ 'pel.what.if.i.know.the.offense.author.text'|trans }}</p>
							</div>
						</section>
						<section class="fr-accordion">
							<h3 class="fr-accordion__title">
								<button class="fr-accordion__btn text-lg/6 fr-text-title--blue-france px-6 py-10 lg:px-14 gap-4 after:w-4 aria-expanded:pb-5 lg:border-l lg:border-l-[#dddddd] border-solid border-0 border-t border-t-[#dddddd] lg:border-t-[transparent] aria-expanded:border-solid aria-expanded:border-0 aria-expanded:border-l-4 aria-expanded:border-l-[var(--background-action-high-blue-france)] after:content-[''] after:h-4 after:[mask-repeat:no-repeat] after:[mask-position:center] after:[-webkit-mask-size:12px_12px] after:[mask-image:url('/assets/images/icons/chevron-down.svg')] aria-expanded:after:[mask-image:url('/assets/images/icons/chevron-up.svg')]" aria-expanded="false" aria-controls="faq-accordion-7">
									{{ 'pel.what.is.online.complaint'|trans }}
								</button>
							</h3>
							<div class="fr-collapse [&.fr-collapse--expanded]:px-6 [&.fr-collapse--expanded]:mx-0 [&.fr-collapse--expanded]:border-solid [&.fr-collapse--expanded]:border-0 [&.fr-collapse--expanded]:border-l-4 [&.fr-collapse--expanded]:border-l-[var(--background-action-high-blue-france)] lg:[&.fr-collapse--expanded]:pr-16 lg:[&.fr-collapse--expanded]:pl-14 [&.fr-collapse--expanded]:pb-4" id="faq-accordion-7">
								<p class="text-lg/8">{{ 'pel.what.is.online.complaint.text'|trans }}</p>
							</div>
						</section>
						<section class="fr-accordion before:shadow-none">
							<h3 class="fr-accordion__title">
								<button class="fr-accordion__btn text-lg/6 fr-text-title--blue-france px-6 py-10 lg:pt-10 lg:px-14 gap-4 after:w-4 aria-expanded:pb-5 lg:border-l lg:border-l-[#dddddd] border-solid border-0 border-t border-t-[#dddddd] lg:border-t-[transparent] aria-expanded:border-solid aria-expanded:border-0 aria-expanded:border-l-4 aria-expanded:border-l-[var(--background-action-high-blue-france)] after:content-[''] after:h-4 after:[mask-repeat:no-repeat] after:[mask-position:center] after:[-webkit-mask-size:12px_12px] after:[mask-image:url('/assets/images/icons/chevron-down.svg')] aria-expanded:after:[mask-image:url('/assets/images/icons/chevron-up.svg')]" aria-expanded="false" aria-controls="faq-accordion-8">
									{{ 'pel.what.subsidiary.question'|trans }}
								</button>
							</h3>
							<div class="fr-collapse [&.fr-collapse--expanded]:px-6 [&.fr-collapse--expanded]:mx-0 [&.fr-collapse--expanded]:border-solid [&.fr-collapse--expanded]:border-0 [&.fr-collapse--expanded]:border-l-4 [&.fr-collapse--expanded]:border-l-[var(--background-action-high-blue-france)] lg:[&.fr-collapse--expanded]:pr-16 lg:[&.fr-collapse--expanded]:pl-14 [&.fr-collapse--expanded]:pb-4" id="faq-accordion-8">
								<p class="text-lg/8">{{ 'pel.what.subsidiary.question.text'|trans }}</p>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
