{% extends 'common/_home.html.twig' %}

{% block content %}
<div class="fr-grid-row fr-grid-row--center fr-col-12 fr-col-md-6 fr-pt-5w fr-pr-3w fr-pb-6w fr-pl-3w fr-pt-md-10w fr-pr-md-0 fr-pb-md-10w fr-pl-md-11v fr-ml-md-11v">
    <div class="fr-grid-row fr-col-md-12">
        <h4 class="fr-mb-3w fr-mb-4w md:text-[28px]/[36px]">{{ 'pel.use.online.complaint.for'|trans }}</h4>
        <ul class="fr-callout__text my-0">
            <li class="text-lg fr-mb-5v fr-mb-md-7v md:text-xl/8">{{ 'pel.victim.of.damage.to.property'|trans|raw }}</li>
            <li class="text-lg fr-mb-5v fr-mb-md-7v md:text-xl/8">{{ 'pel.theft.victim'|trans|raw }}</li>
            <li class="text-lg fr-mb-5v fr-mb-md-7v md:text-xl/8">{{ 'pel.victim.of.credit.card.theft'|trans|raw }}</li>
            <li class="text-lg fr-mb-5v fr-mb-md-7v md:text-xl/8">{{ 'pel.victim.of.offline.scams'|trans|raw }}</li>
            <li class="text-lg fr-mb-5v fr-mb-md-7v md:text-xl/8">{{ 'pel.victim.of.other.property.crimes'|trans|raw }}</li>
        </ul>
        <a class="text-lg/6 fr-text-title--blue-france" href="/centre-d-aide">{{ 'pel.check.our.faq'|trans }}</a>
        <div class="fr-col-12 fr-grid-row flex-col-reverse items-start fr-mt-md-3w md:flex-row md:justify-between">
            <div class="fr-text-center fr-mt-2w fr-mt-md-3w">
                <a href="#" class="fr-btn fr-btn--secondary fr-translate__language fr-text--lg py-2.5">
                    {{ 'pel.fsi.general.orienteer'|trans }}
                </a>
            </div>
            <div class="fr-text-center fr-mt-7w fr-mt-md-3w">
                <button class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line fr-text--lg py-2.5" data-fr-opened="false" aria-controls="fr-modal-complaint-confirm" id="continue_button">
                    {{ 'pel.fill.a.complaint'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}