{% extends 'common/_home.html.twig' %}

{% block title %}{{ 'pel.complaint.online.welcome'|trans }}{% endblock %}

{% block content %}
<div class="fr-grid-row fr-grid-row--center fr-col-12 fr-col-md-6 fr-pt-10v fr-pr-6v fr-pb-12v fr-pl-6v fr-pt-md-20v fr-pr-md-0 fr-pb-md-20v fr-pl-md-22v md:max-w-[644px]">
    <div class="fr-grid-row fr-col-md-12">
        <h2 id="pel-use-online-complaint-for" class="fr-mb-6v fr-mb-8v text-[22px]/7 md:text-[28px]/[36px]">{{ 'pel.use.online.complaint.for'|trans }}</h2>
        <ul class="fr-callout__text fr-pl-8v my-0 fr-pl-md-4v">
            <li class="text-lg fr-mb-5v fr-mb-md-7v md:text-xl/8">{{ 'pel.victim.of.damage.to.property'|trans|raw }}</li>
            <li class="text-lg fr-mb-5v fr-mb-md-7v md:text-xl/8">{{ 'pel.theft.victim'|trans|raw }}</li>
            <li class="text-lg fr-mb-5v fr-mb-md-7v md:text-xl/8">{{ 'pel.victim.of.credit.card.theft'|trans|raw }}</li>
            <li class="text-lg fr-mb-5v fr-mb-md-7v md:text-xl/8">{{ 'pel.victim.of.offline.scams'|trans|raw }}</li>
            <li class="text-lg fr-mb-5v fr-mb-md-7v md:text-xl/8">{{ 'pel.victim.of.other.property.crimes'|trans|raw }}</li>
        </ul>
        <ul class="pel-home__btn-wrap pel-list--no-style">
            <li>
                <a class="text-lg/6 fr-text-title--blue-france fr-ml-8v fr-ml-md-5v" href="{{ path('faq', {'_fragment': 'pel-help-faq-concerned-with'}) }}" target="_blank" title="{{ 'pel.check.our.faq'|trans }} - {{ 'pel.new.window'|trans }}">{{ 'pel.check.our.faq'|trans }}</a>
            </li>
            <li class="fr-text-center fr-mt-4v fr-mt-md-6v">
                <a href="{{ path('cgu', {'_fragment': 'pel-help-procedures-type-of-offence'}) }}" class="fr-btn fr-btn--secondary fr-text--lg px-6 py-2.5">
                    {{ 'pel.fsi.general.orienteer'|trans }}
                </a>
            </li>
            <li class="fr-text-center fr-mt-4v fr-mt-md-6v md:order-none @[489.5px]:order-none @[489.5px]:md:order-none">
                <a href="{{ path('home_confirmation', {'_fragment': 'pel-confirm-online-complaint-that'}) }}" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line fr-text--lg fr-pr-5v fr-pl-6v py-2.5 after:w-6 after:h-6">
                    {{ 'pel.fill.a.complaint'|trans }}
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
