{% extends 'common/_home.html.twig' %}

{% block title %}{{ 'pel.complaint.online.unfolding'|trans }}{% endblock %}

{% block content %}
	<div class="fr-grid-row fr-grid-row--center fr-col-12 fr-col-md-6 fr-pt-10v fr-pr-6v pb-12 fr-pl-6v fr-pt-md-20v fr-pr-md-0 fr-pb-md-20v fr-pl-md-22v md:max-w-[644px]">
		<div class="fr-grid-row fr-col-md-12">
			<h2 id="pel-online-complaint-process" class="fr-mb-6v fr-mb-md-10v text-[22px]/7 md:text-[28px]/[36px]">{{ 'pel.online.declaration.process'|trans|raw }}</h2>
			<ul class="fr-callout__text list-none fr-pl-0">
				<li class="relative text-lg fr-pb-0 pl-14 md:pl-[86px] fr-mb-8v fr-mb-md-12v md:text-xl before:content-[''] before:absolute before:left-0.5 before:w-14 before:h-full before:bg-no-repeat before:bg-[length:40px_40px] before:bg-[url('/assets/images/document.svg')] md:before:bg-[length:56px_56px]">
					<div class="flex gap-x-2.5 items-center fr-mb-2v">
						<p class="fr-badge fr-badge--purple-glycine fr-badge--no-icon fr-text--xs min-h-fit">{{ 'pel.1'|trans }}</p>
						<span class="text-sm">{{ 'pel.1.duration'|trans }}</span>
					</div>
					<p class="fr-h6">{{ 'pel.1.fill.your.form'|trans }}</p>
				</li>
				<li class="relative text-lg fr-pb-0 pl-14 md:pl-[86px] fr-mb-8v fr-mb-md-12v md:text-xl before:content-[''] before:absolute before:left-0.5 before:w-14 before:h-full before:bg-no-repeat before:bg-[length:40px_40px] before:bg-[url('/assets/images/police.svg')] md:before:bg-[length:56px_56px]">
					<div class="flex gap-x-2.5 items-center fr-mb-2v">
						<p class="fr-badge fr-badge--purple-glycine fr-badge--no-icon fr-text--xs min-h-fit">{{ 'pel.2'|trans }}</p>
					</div>
					<p class="fr-h6">{{ 'pel.2.your.request.is.sent.to.an.agent'|trans }}</p>
				</li>
				<li class="relative text-lg fr-pb-0 pl-14 md:pl-[86px] fr-mb-6v fr-mb-md-0 md:text-xl before:content-[''] before:absolute before:left-0.5 before:w-14 before:h-full before:bg-no-repeat before:bg-[length:40px_40px] before:bg-[url('/assets/images/calendar.svg')] md:before:bg-[length:56px_56px]">
					<div class="flex gap-x-2.5 items-center fr-mb-2v">
						<p class="fr-badge fr-badge--purple-glycine fr-badge--no-icon fr-text--xs min-h-fit">{{ 'pel.3'|trans }}</p>
						<span class="text-sm">{{ 'pel.3.duration'|trans|raw }}</span>
					</div>
					<p class="fr-h6 fr-mb-3v">{{ 'pel.3.your.request.is.processed.within.48h'|trans }}</p>
					<p class="text-sm/6 md:text-base fr-mb-0">{{ 'pel.appointment.needed.if'|trans|raw }}</p>
					<a class="text-sm/6 fr-text-title--blue-france" href="{{ path('faq', {'_fragment': 'pel-faq-section'}) }}" target="_blank" title="{{ 'pel.appointment.needed.if.more.title'|trans }} - {{ 'pel.new.window'|trans }}">{{ 'pel.appointment.needed.if.more'|trans }}</a>
				</li>
			</ul>
			<ul class="pel-list--no-style fr-col-12 fr-grid-row gap-x-4 items-start fr-mt-2v fr-mt-md-7v md:flex-row md:justify-between">
				<li class="fr-text-center fr-mt-4v fr-mt-md-3v">
					<a href="{{ path('home_confirmation', {'_fragment': 'pel-confirm-online-complaint-that'}) }}" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line py-3 pr-[5px] pl-[13px] before:content-[''] before:w-6 before:h-6">
                        <span class="visually-hidden">{{ 'pel.use.online.complaint.for.criteria'|trans }}</span>
                    </a>
				</li>
				<li class="fr-text-center fr-mt-4v fr-mt-md-3v">
					<a href="{{ path('authentication', {'_fragment': 'pel-to-log-in'}) }}" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line fr-text--lg fr-pr-5v fr-pl-6v py-2.5 after:w-6 after:h-6">
						{{ 'pel.declaration.create'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
