{% extends 'base.html.twig' %}

{% block body %}
    <div class="fr-container--fluid">
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ 'home.information.message.1'|trans }}
                <strong>{{ 'major'|trans }}</strong> {{ 'home.information.message.2'|trans }}
                <br> {{ 'home.information.message.3'|trans }} <strong>{{ 'home.information.message.4'|trans }}</strong>
                {{ 'home.information.message.5'|trans }}
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                <a class="fr-btn" href="{{ path('visitor_agreement') }}">{{ 'keep.going'|trans }}</a>
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w fr-btns-group--center fr-grid-row--gutters">
            <div class="fr-col">
                <a class="fr-btn"
                   href="https://www.moncommissariat.interieur.gouv.fr">{{ 'redirect.to.police'|trans }}</a>
            </div>
            <div class="fr-col">
                <a class="fr-btn"
                   href="https://www.gendarmerie.interieur.gouv.fr">{{ 'redirect.to.gendarmerie'|trans }}</a>
            </div>
            <div class="fr-col">
                <a class="fr-btn"
                   href="https://www.service-public.fr/particuliers/vosdroits/R46526">{{ 'redirect.to.perceval'|trans }}</a>
            </div>
            <div class="fr-col">
                <a class="fr-btn"
                   href="https://www.service-public.fr/particuliers/vosdroits/N31138">{{ 'redirect.to.thesee'|trans }}</a>
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col fr-text--red-marianne">
                {{ 'home.emergency.message'|trans }}
            </div>
        </div>
    </div>
{% endblock %}
