{% extends 'base.html.twig' %}

{% block body %}
    <div class="fr-container--fluid fr-p-1w">
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ 'pel.home.information.message.1'|trans }}
                <strong>{{ 'pel.major'|trans }}</strong> {{ 'pel.home.information.message.2'|trans }}
                <br> {{ 'pel.home.information.message.3'|trans }} <strong>{{ 'pel.home.information.message.4'|trans }}</strong>
                {{ 'pel.home.information.message.5'|trans }}
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                <a class="fr-btn" href="{{ path('continuation') }}">{{ 'pel.keep.going'|trans }}</a>
            </div>
        </div>
        <div class="fr-grid-row fr-pt-2w fr-grid-row--gutters">
            <div class="fr-col">
                {{ 'pel.home.fsi.general.orienteer.message'|trans }}
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col">
                <a class="fr-btn"
                   href="#">{{ 'pel.fsi.general.orienteer'|trans }}</a>
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w fr-grid-row--gutters">
            <div class="fr-col-2">
                <a class="fr-btn"
                   href="https://www.service-public.fr/particuliers/vosdroits/R46526">{{ 'pel.redirect.to.perceval'|trans }}</a>
            </div>
            <div class="fr-col-2">
                <a class="fr-btn"
                   href="https://www.service-public.fr/particuliers/vosdroits/N31138">{{ 'pel.redirect.to.thesee'|trans }}</a>
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ 'pel.home.appointment.message'|trans }}
            </div>
        </div>
        <div class="fr-grid-row">
            <div class="fr-col">
                <a href="{{ path('appointment') }}" class="fr-btn">{{ 'pel.make.appointment'|trans }}</a>
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col fr-text--red-marianne">
                {{ 'pel.home.emergency.message'|trans }}
            </div>
        </div>
    </div>
{% endblock %}
