<div id="comment-feed" {{ attributes }}>
    <div class="container comment-box overflow-scroll mb-4" id="comment-box">
        {% if this.complaint %}
            {% for comment in this.complaint.comments %}
                <div class="row {{ comment.author is same as constant('App\\Entity\\Comment::AGENT_AUTHOR') ? 'comment-right' : 'comment-left' }}">
                    <div class="col-7 align-self-end rounded-3 m-3 p-3 {{ comment.author is same as constant('App\\Entity\\Comment::AGENT_AUTHOR') ? 'comment-author-color' : 'comment-agent-color' }}">
                        <div id="comment-author">
                            <strong>
                                <small>{{ comment.author }}</small>
                            </strong>
                        </div>
                        {{ comment.content }}
                        <div class="d-flex justify-content-end" id="comment-published-at">
                            <small>
                                {{ 'pel.the'|trans }}
                                 {{ comment.publishedAt|date('d/m/Y', app.user.timezone) }}
                                {{ 'pel.at'|trans }}
                                {{ comment.publishedAt|date('H:i', app.user.timezone) }}
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {{ form_start(form) }}
            <div class="form-group mb-3">
                {{ form_row(form.content, {'attr': {'data-controller': 'complaint', 'data-action': 'input->complaint#commentButton'}}) }}
            </div>
            <div class="form-group d-flex justify-content-end">
                <button class="btn btn-primary" id="comment-button" type="submit" data-action="live#action" data-action-name="prevent|save" disabled data-live-ignore>
                    <i class="bi bi-arrow-right"></i> {{ 'pel.send'|trans }}
                </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
