{% block dropzone_row %}
    {{ form_label(form) }}
    <div class="dropzone" data-controller="dropzone" data-dropzone-name="{{ form.parent.vars.name }}[{{ form.vars.name }}]" data-dropzone-max-files="{{ form.vars.max_files }}" data-dropzone-max-file-size="{{ form.vars.max_file_size }}" data-dropzone-accepted-files="{{ form.vars.accepted_files }}" data-dropzone-add-remove-links="{{ form.vars.add_remove_links }}" data-dropzone-default-message="{{ 'pel.drag.and.drop.or.click.here.to.browse'|trans }}" data-dropzone-remove-file="{{ 'pel.dropzone.remove.file'|trans }}" data-dropzone-file-too-big="{{ 'pel.dropzone.file.too.big'|trans }}" data-dropzone-invalid-file-type="{{ 'pel.dropzone.invalid.file.type'|trans }}" data-dropzone-max-files-exceeded="{{ 'pel.dropzone.max.files.exceeded'|trans }}" data-dropzone-cancel-upload="{{ 'pel.dropzone.cancel.upload'|trans }}" data-dropzone-cancel-upload-confirmation="{{ 'pel.dropzone.cancel.upload.confirmation'|trans }}"></div>
{% endblock %}
