{% embed "common/_modal.html.twig" with {'id':'complaint-assign', 'size':'lg'} %}
    {% block attr_sup %}data-dashboard-bulk-action-target="bulkAssignModal"{% endblock %}

    {% block title %}
        <div class="fs-4">{{ 'pel.assign.to.agent'|trans }}</div>
        <div class="small text-grey mb-4">{{ 'pel.select.the.agent.you.want.to.assign.the.declarations'|trans }}</div>
    {% endblock %}

    {% block body %}
        {{ form(bulk_assign_form, {
            attr: {
                'data-dashboard-bulk-action-target': 'bulkAssignForm',
            }
        }) }}
    {% endblock %}

    {% block footer %}
        <button type="button" class="fr-btn fr-btn--secondary" id="complaint-assign-button-back" data-bs-dismiss="modal">{{ 'pel.cancel'|trans }}</button>
        <button type="button" class="fr-btn" data-action="dashboard-bulk-action#bulkAssign">{{ 'pel.validate.the.assignment'|trans }}</button>
    {% endblock %}
{% endembed %}
