{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'layout.html.twig' %}

{% block body %}
	<div class="fr-container fr-mb-4w">
		<div class="fr-grid-row fr-grid-row--center">
			<div
				class="fr-col-12 fr-col-sm-12 fr-col-md-10 fr-col-lg-8">
				{# {% include 'common/_breadcrumb.html.twig' with {'active':'appointment'} %} #}
				<nav role="navigation" class="fr-breadcrumb" aria-label="{{ 'pel.complaint.see.ariannes.here'|trans }}" data-fr-js-breadcrumb="true">
					<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb" data-fr-js-collapse-button="true">{{ 'pel.complaint.see.ariannes.thread'|trans }}</button>
					<div class="fr-collapse" id="breadcrumb" data-fr-js-collapse="true">
						<ol class="fr-breadcrumb__list">
							<li>
								<a class="fr-breadcrumb__link" href="/">Accueil</a>
							</li>
							<li>
								<a class="fr-breadcrumb__link" aria-current="page">{{ 'pel.not.found.title'|trans }}</a>
							</li>
						</ol>
					</div>
				</nav>
				<h1>{{ 'pel.not.found.title'|trans }}</h1>
				<p>{{ 'pel.not.found.text'|trans }}</p>
				<p>{{ 'pel.not.found.can'|trans }}
					<a href="{{ path('home') }}">{{ 'pel.not.found.can.welcome'|trans }}</a>{{ 'pel.not.found.can.sitemap.1'|trans }}
					<a href="/infos/plan-du-site/">{{ 'pel.not.found.can.sitemap.2'|trans }}</a>
					{{ 'pel.not.found.can.menu'|trans }}
				</p>
			</div>
		</div>
	</div>
{% endblock %}
