{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}{{ 'pel.error.generic.title'|trans }} - {{ 'pel.site.title'|trans }}{% endblock %}

{% block body %}
	<div class="fr-container">
        <div class="fr-my-7w fr-mt-md-12w fr-mb-md-10w fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-grid-row--center">
            <div class="fr-py-0 fr-col-12 fr-col-md-6">
                <h1>{{ 'pel.error.generic.title'|trans }}</h1>
                <p class="fr-text--sm fr-mb-3w">
                    {{ 'pel.error.generic.code.text'|trans }} {{ status_code }}
                </p>
                <p class="fr-text--lead fr-mb-3w">
                    {{ 'pel.error.generic.lead'|trans }}
                </p>
                <p class="fr-text--sm fr-mb-5w">
                    {{ 'pel.error.generic.text'|trans|raw }}
                </p>
            </div>
            <div class="fr-col-12 fr-col-md-3 fr-col-offset-md-1 fr-px-6w fr-px-md-0 fr-py-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="fr-responsive-img fr-artwork" aria-hidden="true" width="160" height="200" viewBox="0 0 160 200">
                    <use class="fr-artwork-motif" href="[path]/ovoid.svg#artwork-motif"></use>
                    <use class="fr-artwork-background" href="[path]/ovoid.svg#artwork-background"></use>
                    <g transform="translate(40, 60)">
                        <use class="fr-artwork-decorative" href="[path]/technical-error.svg#artwork-decorative"></use>
                        <use class="fr-artwork-minor" href="[path]/technical-error.svg#artwork-minor"></use>
                        <use class="fr-artwork-major" href="[path]/technical-error.svg#artwork-major"></use>
                    </g>
                </svg>
            </div>
        </div>
    </div>
{% endblock %}
