{% use "form_div_layout.html.twig" %}

{% block choice_row %}
    {% if expanded is same as(true) %}
        <fieldset class="{{ html_classes('fr-fieldset', {
            'fr-fieldset--inline': inline is same as(true),
            'fr-fieldset--error': errors is not empty
        }) }}"
                {% if errors is not empty %}
                    role="group"
                    aria-labelledby="legend-{{ form.vars.id }} form-errors-{{ form.vars.id }}"
                {% endif %}
        >
            <legend class="fr-fieldset__legend fr-text--regular" id="legend-{{ form.vars.id }}">
                {{ form_label(form) }}
            </legend>
            <div class="fr-fieldset__content">
                {% for child in form.children %}
                    <div class="{{ html_classes({
                        'fr-radio-group': multiple is same as(false),
                        'fr-checkbox-group': multiple is same as(true),
                        'fr-radio-rich':rich is defined and rich is same as(true)
                    }) }}">
                        {{ form_widget(child) }}
                        {{ form_label(child, null, {'label_attr':{'class':'no-star'}}) }}
                    </div>
                {% endfor %}
            </div>
            {{ form_errors(form) }}
        </fieldset>
    {% else %}
        <div class="{{ html_classes('fr-select-group', {
            'fr-select-group--error':  errors is not empty,
        }) }}">
            {{ form_label(form) }}
            {{ form_widget(form, {'attr':{'class':html_classes(attr.class ?? '', 'fr-select',{
                'fr-select--error':errors is not empty
            })}}) }}
            {{ form_errors(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block checkbox_row %}
    <div class="{{ html_classes('fr-checkbox-group', {
        'fr-checkbox-group--error': errors is not empty
    }) }}">
        {{ form_widget(form, {'attr':{
            'aria-describedby':errors is not empty ? 'form-errors-'~ form.vars.id :''
        }}) }}
        {{ form_label(form) }}
    </div>
{% endblock %}

{% block text_row %}
    {{ block('input_row') }}
{% endblock %}

{% block date_row %}
    {{ block('input_row') }}
{% endblock %}

{% block number_row %}
    {{ block('input_row') }}
{% endblock %}

{% block form_label %}
    {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' fr-label')|trim}) -%}
    {{- parent() -}}
{% endblock %}

{% block form_errors %}
    {% if errors is not empty %}
        <p class="fr-error-text" id="form-errors-{{ form.vars.id }}">
            {% for error in errors %}
                {{ error.message|trans }}
                {% if not loop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}

{% block input_row %}
    <div class="{{ html_classes('fr-input-group', {
        'fr-input-group--error': errors is not empty
    }) }}">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr':{
            'class':html_classes(attr.class ?? '', 'fr-input', {
                'fr-input--error':errors is not empty
            }),
            'aria-describedby':errors is not empty ? 'form-errors-'~ form.vars.id :''
        }}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
