<ul class="list-none fr-pl-8v fr-my-0">
    <p class="fr-badge fr-badge--purple-glycine fr-badge--no-icon fr-text--xs fr-mb-6v -ml-8">{{ 'pel.complaint.date.and.time'|trans }}</p>
    <li class="relative text-xl/8 fr-pb-0 fr-pl-8v -ml-8 before:content-[''] before:absolute before:top-[5px] before:left-[3px] before:w-6 before:h-6 before:bg-no-repeat before:bg-[length:22px_22px] before:bg-[url('/assets/images/icons/calendar-event.svg')]">
        {% if complaint.facts.offenseDate.exactDateKnown is same as true %}
            {{ 'pel.complaint.exact.date.is.known'|trans|raw }}
            <p class="text-xl/8">
                {{ 'pel.facts.offence.occurred'|trans }}
                {{ 'pel.the'|trans|lower }}
                <b>{{ complaint.facts.offenseDate.startDate|format_date(locale=app.request.locale, pattern='EEEE d MMMM yyyy') }}</b>.
            </p>
        {% else %}
            {{ 'pel.complaint.exact.date.is.unknown'|trans|raw }}
            <p class="text-xl/8">
                {{ 'pel.facts.offence.may.have.occurred'|trans }}
                {{ 'pel.between'|trans|lower }} {{ 'pel.the'|trans|lower }}
                <b>{{ complaint.facts.offenseDate.startDate|format_date(locale=app.request.locale, pattern='EEEE d MMMM') }}</b> {{ 'pel.and'|trans|lower }} {{ 'pel.the'|trans|lower }}
                <b>{{ complaint.facts.offenseDate.endDate|format_date(locale=app.request.locale, pattern='EEEE d MMMM yyyy') }}</b>.
            </p>
        {% endif %}
    </li>
    <li class="relative text-xl/8 fr-pb-0 fr-pl-8v -ml-8 before:content-[''] before:absolute before:top-[5px] before:left-[3px] before:w-6 before:h-6 before:bg-no-repeat before:bg-[length:22px_22px] before:bg-[url('/assets/images/icons/time.svg')]">
        {% if complaint.facts.offenseDate.choiceHour is same as('yes') %}
            {{ 'pel.complaint.exact.hour.is.known'|trans|raw }}
            <p class="text-xl/8">
                {% if complaint.facts.offenseDate.hour is not null %}
                    {{ 'pel.facts.offence.occurred'|trans }}
                    {{ 'pel.at'|trans|lower }}
                    <b>{{ complaint.facts.offenseDate.hour|date('H' ~ '\\' ~ 'pel.hour.h'|trans|lower ~ 'i') }}</b>.
                {% else %}
                    {{ 'pel.facts.offence.may.have.occurred'|trans }}
                    {{ 'pel.between'|trans|lower }}
                    <b>{{ complaint.facts.offenseDate.startHour|date('H' ~ '\\' ~ 'pel.hour.h'|trans|lower ~ 'i') }}</b> {{ 'pel.and'|trans|lower }}
                    <b>{{ complaint.facts.offenseDate.endHour|date('H' ~ '\\' ~ 'pel.hour.h'|trans|lower ~ 'i') }}</b>.
                {% endif %}
            </p>
        {% elseif complaint.facts.offenseDate.choiceHour is same as('maybe') %}
            {{ 'pel.complaint.exact.hour.is.unknown'|trans|raw }}
            <p class="text-xl/8">
                {% if complaint.facts.offenseDate.hour is not null %}
                    {{ 'pel.facts.offence.occurred'|trans }}
                    <b>{{ complaint.facts.offenseDate.hour|date('H' ~ '\\' ~ 'pel.hour.h'|trans|lower ~ 'i') }}</b>
                {% else %}
                    {{ 'pel.facts.offence.may.have.occurred'|trans }}
                    {{ 'pel.between'|trans|lower }}
                    <b>{{ complaint.facts.offenseDate.startHour|date('H' ~ '\\' ~ 'pel.hour.h'|trans|lower ~ 'i') }}</b> {{ 'pel.and'|trans|lower }}
                    <b>{{ complaint.facts.offenseDate.endHour|date('H' ~ '\\' ~ 'pel.hour.h'|trans|lower ~ 'i') }}</b>.
                {% endif %}
            </p>
        {% else %}
            {{ 'pel.complaint.exact.hour.is.unknown'|trans|raw }}
        {% endif %}
    </li>
    <p class="fr-badge fr-badge--purple-glycine fr-badge--no-icon fr-text--xs fr-mt-6v fr-mb-6v -ml-8">{{ 'pel.complaint.place.of.offence'|trans }}</p>
    {% if complaint.facts.placeNature is not null %}
        <li class="relative text-xl/8 fr-pb-6v fr-pl-8v -ml-8 before:content-[''] before:absolute before:top-[5px] before:left-[3px] before:w-6 before:h-6 before:bg-no-repeat before:bg-[length:22px_22px] before:bg-[url('/assets/images/icons/community.svg')]">
            {{ 'pel.nature.place'|trans }} : <b>{{ complaint.facts.placeNature|nature_place_label }}</b>
        </li>
    {% endif %}
    {% if complaint.facts.subPlaceNature is not null %}
        <li class="relative text-xl/8 fr-pb-6v fr-pl-8v -ml-8 before:content-[''] before:absolute before:top-[5px] before:left-[3px] before:w-6 before:h-6 before:bg-no-repeat before:bg-[length:22px_22px] before:bg-[url('/assets/images/icons/community.svg')]">
            {{ 'pel.precision.nature.place'|trans }} : <b>{{ complaint.facts.subPlaceNature|nature_place_label }}</b>
        </li>
    {% endif %}
    {% if complaint.facts.address.addressOrRouteFactsKnown is same as(true) %}
        <li class="relative text-xl/8 fr-pb-6v fr-pl-8v -ml-8 before:content-[''] before:absolute before:top-[5px] before:left-[3px] before:w-6 before:h-6 before:bg-no-repeat before:bg-[length:22px_22px] before:bg-[url('/assets/images/icons/map-pin-2.svg')]">
            {{ 'pel.address'|trans }} : <b>{{ complaint.facts.address.startAddress.label }}</b>
            {% if complaint.facts.address.endAddress.label is not empty %}
                <p class="text-xl/8 fr-mb-0">{{ 'pel.address.end'|trans }} :
                    <b>{{ complaint.facts.address.endAddress.label }}</b></p>
            {% endif %}
            {% if complaint.facts.address.addressAdditionalInformation is not null %}
                <p class="text-lg mt-2.5 fr-mb-0"><b>{{ 'pel.complaint.additional.informations'|trans }}</b>
                    :</p>
                <p class="text-lg fr-mb-0">” {{ complaint.facts.address.addressAdditionalInformation }}
                    ”</p>
            {% endif %}
        </li>
    {% endif %}
    <p class="fr-badge fr-badge--purple-glycine fr-badge--no-icon fr-text--xs fr-mt-6v fr-mb-6v -ml-8">{{ 'pel.complaint.in.a.few.words'|trans }}</p>
    <li class="relative text-xl/8 fr-pb-6v fr-pl-8v -ml-8 before:content-[''] before:absolute before:top-[5px] before:left-[3px] before:w-6 before:h-6 before:bg-no-repeat before:bg-[length:22px_22px] before:bg-[url('/assets/images/icons/fr-quote.svg')]">
        “ {{ complaint.facts.description }} “
    </li>
    {% if complaint.facts.victimOfViolence is same as(true) %}
        <li class="relative text-xl/8 fr-pb-0 fr-pl-8v -ml-8 before:content-[''] before:absolute before:top-[5px] before:left-[3px] before:w-6 before:h-6 before:bg-no-repeat before:bg-[length:22px_22px] before:bg-[url('/assets/images/icons/psychotherapy.svg')]">
            {{ 'pel.victim.at.time.of.facts'|trans|raw }}
            <p class="text-xl/8">
                “ {{ complaint.facts.victimOfViolenceText }} “
            </p>
        </li>
    {% endif %}
</ul>
