{% if is_granted('ROLE_SUPERVISOR') %}
    <div class="toast row w-100 mw-100 h-100 g-0 background-informative text-informative fw-bold border-0 rounded-0 shadow-none" id="toast-complaint-unit-reassign-ordered" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="col-md-8 col-lg-9 col-xxl-10 mx-auto px-4 py-3">
            <div class="d-flex align-items-start justify-content-between">
                <span class="fr-icon-success-fill me-2"></span>
                <div class="me-2 w-100">
                    {{ 'pel.the.unit.reassignment.of.the.declaration.to'|trans }} <span class="unit-name"></span> {{ 'pel.has.been.ordered'|trans }}
                </div>
                <button type="button" class="btn-close bg-transparent small shadow-none" data-bs-dismiss="toast" aria-label="{{ 'pel.close'|trans }}"></button>
            </div>
        </div>
    </div>
    <div class="toast row w-100 mw-100 h-100 g-0 background-informative text-informative fw-bold border-0 rounded-0 shadow-none" id="toast-complaint-unit-reassign-validated" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="col-md-8 col-lg-9 col-xxl-10 mx-auto px-4 py-3">
            <div class="d-flex align-items-start justify-content-between">
                <span class="fr-icon-success-fill me-2"></span>
                <div class="me-2 w-100">
                    {{ 'pel.the.unit.reassignment.has.been.accepted'|trans }}
                </div>
                <button type="button" class="btn-close bg-transparent small shadow-none" data-bs-dismiss="toast" aria-label="{{ 'pel.close'|trans }}"></button>
            </div>
        </div>
    </div>
{% endif %}
