<div {{ attributes.add(stimulus_controller('google-maps--appointment')) }}>
    <label class="fr-label" for="map-search">{{ 'pel.address.choose'|trans|raw }}
        <span class="fr-hint-text">{{ 'pel.address.city.postcode'|trans }}</span>
    </label>
    <input id="map-search" type="text" class="fr-input fr-mb-3w"/>
    <div class="fr-container--fluid">
        <div class="fr-grid-row">
            <div class="fr-col-12 col-md-6 fr-col-lg-4 map-left-menu fr-pt-1w" data-google-maps--appointment-target="leftMenu">
                <div class="fr-text-center">0 {{ 'pel.result'|trans|lower }}</div>
            </div>
            <div class="fr-col-12 fr-col-md-6 fr-col-lg-8">
                <div id="{{ id }}-map" data-google-maps--appointment-target="map" class="map" data-marker-icon="{{ asset('build/images/marker_blue.png') }}"></div>
            </div>
        </div>
    </div>
</div>
