<div {{ attributes.add(stimulus_controller('google-maps--appointment')) }}>
    <label class="fr-label" for="map-search" id="map-search-label">{{ 'pel.address.choose'|trans|raw }}
        <span class="fr-hint-text">{{ 'pel.address.city.postcode'|trans }}</span>
    </label>
    <input
        id="map-search"
        type="text"
        class="fr-input fr-mb-3w"
        role="combobox"
        aria-autocomplete="list"
        aria-owns="list-map-search"
        aria-expanded="false"
        autocomplete="off"
        data-action="keyup@window->google-maps--appointment#handleKeyup"
        spellcheck="false"
        autocapitalize="off"
        tabindex="0"
        data-google-maps--appointment-target="mapInput"
    />
    <div class="fr-container--fluid">
        <div class="fr-grid-row">
            <div class="pel-units__results-wrap fr-col-12 col-md-6 fr-col-lg-4 map-left-menu">
                <p class="pel-units__results-count fr-text-center fr-mb-0 fr-background-default--grey" role="status"><span data-google-maps--appointment-target="result">0</span> {{ 'pel.result'|trans|lower }}</p>
                <div data-google-maps--appointment-target="leftMenu"></div>
            </div>
            <div class="fr-col-12 fr-col-md-6 fr-col-lg-8">
                <div id="{{ id }}-map" data-google-maps--appointment-target="map" class="map" data-marker-icon="{{ asset('build/images/marker_blue.png') }}" aria-hidden="true"></div>
            </div>
        </div>
    </div>
</div>
