<div {{ attributes.add(stimulus_controller('complaint-submit')) }}>
    {{ form_start(form, {attr: {'data-action': 'live#action complaint-submit#submit','data-action-name': 'prevent|submit'}}) }}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.suspectsChoice) }}
        </div>
    </div>
    {% if form.suspectsText is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ form_row(form.suspectsText) }}
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.witnesses) }}
        </div>
    </div>
    {% if form.witnessesText is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ form_row(form.witnessesText) }}
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.fsiVisit) }}
        </div>
    </div>
    {% if form.observationMade is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ form_row(form.observationMade) }}
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.cctvPresent) }}
        </div>
    </div>
    {% if form.cctvAvailable is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ form_row(form.cctvAvailable) }}
            </div>
        </div>
    {% endif %}
    <div class="flex--between fr-mt-3w fr-mb-3w">
        <a href="{{ path('complaint_objects') }}" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line">{{ 'pel.previous'|trans }}</a>
        <button type="submit" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line" id="additional_information_submit">{{ 'pel.next'|trans }}</button>
    </div>
    {{ form_end(form) }}
</div>
