<div {{ attributes }}>
    {{ form_start(form, {attr: {'data-action': 'live#action','data-action-name': 'prevent|submit'}}) }}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.suspectsChoice) }}
        </div>
    </div>
    {% if form.suspectsText is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ form_row(form.suspectsText) }}
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.witnesses) }}
        </div>
    </div>
    {% if form.witnessesText is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ form_row(form.witnessesText) }}
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.fsiVisit) }}
        </div>
    </div>
    {% if form.observationMade is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ form_row(form.observationMade) }}
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.cctvPresent) }}
        </div>
    </div>
    {% if form.cctvAvailable is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ form_row(form.cctvAvailable) }}
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="fr-grid-row">
        <div class="fr-col">
            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                <li>
                    <button type="submit" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line" {# data-next-accordion="3" #}id="additional_information_submit">{{ 'pel.next'|trans }}</button>
                </li>
                <li>
                    <button type="button" class="fr-btn fr-btn--secondary">{{ 'pel.save'|trans }}</button>
                </li>
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
</div>
