<h3>{{ 'civil.state'|trans }}</h3>
<div>
    {{ form_row(form.civility) }}
    {{ form_row(form.birthName) }}
    {{ form_row(form.firstnames) }}
    {{ form_row(form.birthDate) }}
    {{ form_row(form.birthLocation.country) }}
    {{ form_row(form.birthLocation.town) }}
    {% if form.birthLocation.department is defined %}
        {{ form_row(form.birthLocation.department, {'value':form.birthLocation.town.vars.value|removeTown }) }}
    {% endif %}
    {{ form_row(form.nationality) }}
    {{ form_row(form.job) }}
</div>
