<h3>{{ 'contact.information'|trans }}</h3>
{{ form_row(form.addressLocation.country) }}
    {{ form_row(form.addressLocation.town) }}
    {% if form.addressLocation.department is defined %}
        {{ form_row(form.addressLocation.department, {'value':form.addressLocation.town.vars.value|removeTown }) }}
    {% endif %}
    {{ form_row(form.addressNumber) }}
    {{ form_row(form.addressWay) }}
    {{ form_row(form.email) }}
    {{ form_row(form.mobile) }}
