<h3>{{ 'pel.contact.information'|trans }}</h3>
{{ form_row(form.addressLocation.country) }}
{% if form.addressLocation.frenchTown is defined %}
    {{ form_row(form.addressLocation.frenchTown) }}
{% endif %}

{% if form.addressLocation.otherTown is defined %}
    {{ form_row(form.addressLocation.otherTown) }}
{% endif %}

{% if form.addressLocation.frenchTown is defined and form.addressLocation.department is defined %}
    {{ form_row(form.addressLocation.department, {'value':form.addressLocation.frenchTown.vars.value|removeTown }) }}
{% endif %}

{{ form_row(form.addressNumber) }}
{% if form.frenchAddressWay is defined %}
    {{ form_row(form.frenchAddressWay) }}
{% endif %}
{% if form.foreignAddressWay is defined %}
    {{ form_row(form.foreignAddressWay) }}
{% endif %}
{{ form_row(form.email) }}
{{ form_row(form.mobile) }}
