<h3>{{ 'pel.corporation.legal.information'|trans }}</h3>
<div>
    {{ form_row(form.siren) }}
    {{ form_row(form.name) }}
    {{ form_row(form.function) }}
    {{ form_row(form.nationality) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.country) }}
    {% if form.frenchAddress is defined %}
        {{ form_row(form.frenchAddress) }}
    {% endif %}
    {% if form.foreignAddress is defined %}
        {{ form_row(form.foreignAddress) }}
    {% endif %}

</div>
