<div {{ attributes.add(stimulus_controller('etalab')) }} class="mt-2">
	<div class="fr-input-wrap fr-icon-map-pin-2-line before:content-[''] before:z-10">
        <input type="text"
               tabindex="0"
               id="{{ inputName }}"
               role="combobox"
               aria-autocomplete="list"
               {% if this.autoCompleteResults|length > 0 %}aria-owns="list-{{ inputName }}"{% endif %}
               aria-expanded="{{ this.autoCompleteResults|length > 0 ? 'true' : 'false' }}"
               data-action="keyup@window->etalab#handleKeyup"
               autocomplete="off"
               spellcheck="false"
               autocapitalize="off"
               {% if required is same as(true) %}required="required"{% endif %}
               data-model="addressSearch"
               class="fr-input{% if this.errors|length > 0 %} fr-input--error{% endif %}"
               name="{{ inputName }}"
               {% if disabled %}disabled="disabled"{% endif %}
               data-etalab-target="input"
               {% if this.errors|length > 0 %} aria-describedby="form-errors-{{ inputName }}"{% endif %}
        >
    </div>
    <ul class="list--addresses"
        id="list-{{ inputName }}"
        role="listbox"
        data-etalab-target="list"
        {% if this.autoCompleteResults|length == 0 %}style="display: none"{% endif %}>
        {% for addr in this.autoCompleteResults %}
            <li class="list--addresses__item"
                data-action="mousedown->live#action"
                data-action-name="selectAddress(addressId={{ addr.properties.id }})"
                id="{{ inputName }}-{{ addr.properties.id }}"
                role="option"
                tabindex="0"
            >
                {{ addr.properties.label }}
            </li>
        {% endfor %}
    </ul>
    {% if this.errors|length > 0 %}
        {% for error in this.errors %}
            <p class="fr-error-text" id="form-errors-{{ inputName }}">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
</div>
