{#{% from 'macro/counter.html.twig' import counter %}#}

<div {{ attributes.add(stimulus_controller('complaint-submit')) }}>
    {{ form_start(form, {attr: {'data-action': 'live#action complaint-submit#submit','data-action-name': 'prevent|submit'}}) }}
    <div class="fr-grid-row fr-py-2w">
        {% embed 'embed/counter.html.twig' with {
            'parent': 'facts_description',
            'minlength': form.description.vars.attr.minlength,
            'maxlength': form.description.vars.attr.maxlength
        } %}
            {% block label %}
                {{ form_label(form.description) }}
            {% endblock %}
            {% block widget %}
                {{ form_widget(form.description) }}
            {% endblock %}
            {% block errors %}
                {{ form_errors(form.description) }}
            {% endblock %}
        {% endembed %}
    </div>
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.victimOfViolence) }}
        </div>
    </div>
    {% if form.victimOfViolenceText is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ form_row(form.victimOfViolenceText) }}
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                <span class="fr-text--red-marianne">
                    {{ 'pel.victim.of.violence.information'|trans }}
                </span>
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.placeNature) }}
        </div>
    </div>
    {% if form.vars.data.placeNature in [3,6] or (identityAddress is not null and identityAddress.addressType is not same as('etalab_address')) %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ component('google_maps', {
                    'data-live-id':'google-maps',
                    'id':'facts',
                }) }}
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.address.addressOrRouteFactsKnown) }}
        </div>
    </div>
    {% if form.address.startAddress is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {% set etalab_errors = [] %}
                {% if form.address.startAddress is defined %}
                    {% for error in form.address.startAddress.address.vars.errors %}
                        {% set etalab_errors = etalab_errors|merge([error.message]) %}
                    {% endfor %}
                {% endif %}
                <div class="fr-input-group{% if etalab_errors|length > 0 %} fr-input-group--error{% endif %}">
                    {{ form_label(form.address.startAddress) }}
                    {{ component('etalab_component', {
                        'data-live-id': 'facts-startAddress-address',
                        dataModel: 'addressSearch:startAddressEtalabInput.addressSearch addressId:startAddressEtalabInput.addressId addressSearchSaved:startAddressEtalabInput.addressSearchSaved latitude:startAddressEtalabInput.latitude longitude:startAddressEtalabInput.longitude',
                        inputName: 'facts-startAddress-address',
                        errors: etalab_errors,
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if form.address.endAddress is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {% set etalab_errors = [] %}
                {% if form.address.endAddress is defined %}
                    {% for error in form.address.endAddress.address.vars.errors %}
                        {% set etalab_errors = etalab_errors|merge([error.message]) %}
                    {% endfor %}
                {% endif %}
                <div class="fr-input-group{% if etalab_errors|length > 0 %} fr-input-group--error{% endif %}">
                    {{ form_label(form.address.endAddress) }}
                    {{ component('etalab_component', {
                        'data-live-id': 'facts-endAddress-address',
                        dataModel: 'addressSearch:endAddressEtalabInput.addressSearch addressId:endAddressEtalabInput.addressId addressSearchSaved:endAddressEtalabInput.addressSearchSaved',
                        inputName: 'facts-endAddress-address',
                        errors: etalab_errors,
                    }) }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.address.addressAdditionalInformation) }}
        </div>
    </div>
    {% if form.address.addressNotKnown is defined %}
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col">
                {{ form_row(form.address.addressNotKnown) }}
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.offenseDate.exactDateKnown) }}
        </div>
    </div>
    {% if form.offenseDate.startDate is defined %}
        <div class="fr-grid-row fr-py-2w fr-grid-row--gutters">
            <div class="fr-col-xl-2 fr-col-md-4 fr-col-6">
                {{ form_row(form.offenseDate.startDate) }}
            </div>
            {% if form.offenseDate.endDate is defined %}
                <div class="fr-col-xl-2 fr-col-md-4 fr-col-6">
                    {{ form_row(form.offenseDate.endDate) }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col">
            {{ form_row(form.offenseDate.choiceHour) }}
        </div>
    </div>
    {% if form.offenseDate.startHour is defined or form.offenseDate.hour is defined %}
        <div class="fr-grid-row fr-py-2w fr-grid-row--gutters">
            {% if form.offenseDate.hour is defined %}
                <div class="fr-col-xl-2 fr-col-md-4 fr-col-6">
                    {{ form_row(form.offenseDate.hour) }}
                </div>
            {% elseif form.offenseDate.endHour is defined %}
                <div class="fr-col-xl-2 fr-col-md-4 fr-col-6">
                    {{ form_row(form.offenseDate.startHour) }}
                </div>
            {% endif %}
            {% if form.offenseDate.endHour is defined %}
                <div class="fr-col-xl-2 fr-col-md-4 fr-col-6">
                    {{ form_row(form.offenseDate.endHour) }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="flex--between fr-mt-3w fr-mb-3w">
        <a href="{{ path('complaint_identity') }}" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line">{{ 'pel.previous'|trans }}</a>
        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
            <li>
                <button type="submit" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line" id="facts_submit" {% if this.fromSummary is same as(true) %}data-action="live#action" data-action-name="prevent|submit"{% endif %}>{{ this.fromSummary is same as(true) ? 'pel.save.and.go.to.next'|trans : 'pel.next'|trans }}</button>
            </li>
            {% if this.fromSummary is same as(true) %}
                <li>
                    <button type="submit" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line" id="facts_submit_recap" data-action="live#action" data-action-name="prevent|submit(redirectToSummary=true)">{{ 'pel.save.and.go.to.summary'|trans }}</button>
                </li>
            {% endif %}
        </ul>
    </div>
    {{ form_end(form, {render_rest: false}) }}
</div>
