<div {{ attributes.add(stimulus_controller('complaint-submit')|stimulus_controller('facts')) }}>
    {{ form_start(form, {attr: {'data-action': 'live#action complaint-submit#submit','data-action-name': 'prevent|submit'}}) }}
    <div class="fr-pt-4v fr-px-6v fr-pb-12v fr-pt-md-6v fr-px-md-20v">
        <h2 class="text-[22px]/7 md:text-[28px]/9 fr-mb-8v">{{ 'pel.what.is.the.date.of.the.infraction'|trans }}</h2>
        <fieldset class="{{ html_classes('fr-fieldset', 'fr-input-group', 'fr-mt-2v', 'fr-mb-6v','fr-mb-md-2v', 'fr-mt-md-10v', {'fr-fieldset--inline': form.offenseDate.exactDateKnown.vars.inline is same as(true),'fr-fieldset--error': form.offenseDate.exactDateKnown.vars.errors is not empty}) }}" {% if form.offenseDate.exactDateKnown.vars.errors is not empty %} role="group" aria-labelledby="legend-{{ form.offenseDate.exactDateKnown.vars.id }} form-errors-{{ form.offenseDate.exactDateKnown.vars.id }}" {% endif %}>
            <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-text--regular xs:max-md:whitespace-nowrap" id="legend-{{ form.offenseDate.exactDateKnown.vars.id }}">
                {{ form.offenseDate.exactDateKnown.vars.label|trans }}&nbsp;<span class="text-[var(--text-default-error)]">*</span>
            </legend>
            <div class="fr-fieldset__content">
                {% for child in form.offenseDate.exactDateKnown.children %}
                    <div class="fr-radio-group">
                        {{ form_widget(child) }}
                        <label class="fr-label" for="{{ child.vars.id }}">
                            {{ child.vars.label|trans }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            {{ form_errors(form.offenseDate.exactDateKnown) }}
        </fieldset>
        {% if form.offenseDate.startDate is defined %}
            <div class="fr-mb-6v md:w-1/2">
                {{ form_row(form.offenseDate.startDate) }}
            </div>
            {% if form.offenseDate.endDate is defined %}
                <div class="fr-mb-6v md:w-1/2">
                    {{ form_row(form.offenseDate.endDate) }}
                </div>
            {% endif %}
        {% endif %}
        <fieldset class="{{ html_classes('fr-fieldset', 'fr-input-group', {'fr-fieldset--inline': form.offenseDate.choiceHour.vars.inline is same as(true),'fr-fieldset--error': form.offenseDate.choiceHour.vars.errors is not empty}) }}" {% if form.offenseDate.choiceHour.vars.errors is not empty %} role="group" aria-labelledby="legend-{{ form.offenseDate.choiceHour.vars.id }} form-errors-{{ form.offenseDate.choiceHour.vars.id }}" {% endif %}>
            <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-text--regular xs:max-md:whitespace-nowrap fr-mb-6v" id="legend-{{ form.offenseDate.choiceHour.vars.id }}">
                {{ form.offenseDate.choiceHour.vars.label|trans }}&nbsp;<span class="text-[var(--text-default-error)]">*</span>
            </legend>
            <div class="fr-fieldset__content">
                {% for child in form.offenseDate.choiceHour.children %}
                    <div class="fr-radio-group">
                        {{ form_widget(child) }}
                        <label class="fr-label" for="{{ child.vars.id }}">
                            {{ child.vars.label|trans }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            {{ form_errors(form.offenseDate.choiceHour) }}
        </fieldset>
        {% if form.offenseDate.startHour is defined or form.offenseDate.hour is defined %}
            {% if form.offenseDate.hour is defined %}
                <div class="md:w-1/2">
                    {{ form_row(form.offenseDate.hour) }}
                </div>
            {% elseif form.offenseDate.endHour is defined %}
                <div class="fr-mb-6v md:w-1/2">
                    {{ form_row(form.offenseDate.startHour) }}
                </div>
            {% endif %}
            {% if form.offenseDate.endHour is defined %}
                <div class="md:w-1/2">
                    {{ form_row(form.offenseDate.endHour) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <hr>
    <div class="fr-pt-4v fr-px-6v fr-pb-12v fr-pt-md-6v fr-pt-md-6v fr-px-md-20v">
        <h2 class="text-[22px]/7 md:text-[28px]/9 fr-mb-8v">{{ 'pel.what.is.the.place.of.the.infraction'|trans }}</h2>
        <div class="fr-form-group fr-mb-6v fr-mt-md-12v md:w-1/2">
            <div class="{{ html_classes('fr-select-group', {'fr-select-group--error': form.placeNature.vars.errors is not empty}) }}">
                {{ form_label(form.placeNature) }}
                <div class="fr-input-wrap fr-icon-arrow-down-s-line before:content-[''] before:z-10">
                    {% set attr_row = {
                        'class': html_classes(
                            form.placeNature.vars.attr.class ?? '',
                            'autocomplete' not in form.placeNature.vars['block_prefixes'] ? 'fr-select' : '',
                            {'fr-select--error': form.placeNature.vars.errors is not empty}
                        ),
                    } %}
                    {% if form.placeNature.vars.errors is not empty %}
                        {% set attr_row = attr_row|merge({
                            'aria-describedby': form.placeNature.vars.errors is not empty ? 'form-errors-'~ form.placeNature.vars.id : ''
                        }) %}
                    {% endif %}

                    {{ form_widget(form.placeNature, {
                        'attr': attr_row
                    }) }}
                </div>
                {{ form_errors(form.placeNature) }}
            </div>
        </div>
        {% if form.subPlaceNature is defined %}
            <div class="fr-form-group fr-mb-6v md:w-1/2">
                <div class="{{ html_classes('fr-select-group', {'fr-select-group--error': form.subPlaceNature.vars.errors is not empty}) }}">
                    {% set attr_row = {'class':html_classes(form.subPlaceNature.vars.attr.class ?? '', 'autocomplete' not in form.subPlaceNature.vars['block_prefixes'] ? 'fr-select' : '',{'fr-select--error':form.subPlaceNature.vars.errors is not empty})} %}
                    {% if form.subPlaceNature.vars.errors is not empty %}
                        {% set attr_row = attr_row|merge({'aria-describedby': form.subPlaceNature.vars.errors is not empty ? 'form-errors-'~ form.subPlaceNature.vars.id : ''}) %}
                    {% endif %}
                    {{ form_label(form.subPlaceNature) }}
                    <div class="fr-input-wrap fr-icon-arrow-down-s-line before:content-[''] before:z-10">
                        {{ form_widget(form.subPlaceNature, {'attr': attr_row}) }}
                    </div>
                    {{ form_errors(form.subPlaceNature) }}
                </div>
            </div>
        {% endif %}
        {% if form.callingPhone is defined %}
            {{ form_row(form.callingPhone) }}
        {% endif %}
        {% if form.website is defined %}
            {{ form_row(form.website) }}
        {% endif %}
        {% if form.vars.data.placeNature|nature_place_map_displayed or (identityAddress is not null and identityAddress.addressType is not same as('etalab_address')) %}
            <div class="fr-grid-row fr-mb-6v">
                <div class="fr-col">
                    {{ component('google_maps', {
                        'data-live-id':'google-maps',
                        'id':'facts',
                    }) }}
                </div>
            </div>
        {% endif %}
        {% if form.address.addressOrRouteFactsKnown is defined %}
            <fieldset class="{{ html_classes('fr-fieldset', 'fr-input-group', 'fr-mb-6v','fr-mb-md-2v', {'fr-fieldset--inline': form.address.addressOrRouteFactsKnown.vars.inline is same as(true),'fr-fieldset--error': form.address.addressOrRouteFactsKnown.vars.errors is not empty}) }}" {% if form.address.addressOrRouteFactsKnown.vars.errors is not empty %} role="group" aria-labelledby="legend-{{ form.address.addressOrRouteFactsKnown.vars.id }} form-errors-{{ form.address.addressOrRouteFactsKnown.vars.id }}" {% endif %}>
                <legend class="fr-fieldset__legend--regular fr-fieldset__legend fr-text--regular" id="legend-{{ form.address.addressOrRouteFactsKnown.vars.id }}">
                    {{ form.address.addressOrRouteFactsKnown.vars.label|trans }}&nbsp;<span class="text-[var(--text-default-error)]">*</span>
                </legend>
                <div class="fr-fieldset__content">
                    {% for child in form.address.addressOrRouteFactsKnown.children %}
                        <div class="fr-radio-group">
                            {{ form_widget(child) }}
                            <label class="fr-label" for="{{ child.vars.id }}">
                                {{ child.vars.label|trans }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                {{ form_errors(form.address.addressOrRouteFactsKnown) }}
            </fieldset>
        {% endif %}
        <div id="error-message" class="fr-text--red-marianne font-bold"></div>
        {% if form.address.startAddress is defined %}
            {% set etalab_errors = [] %}
            {% for error in form.address.startAddress.address.vars.errors %}
                {% set etalab_errors = etalab_errors|merge([error.message]) %}
            {% endfor %}
            <div class="fr-input-group{% if etalab_errors|length > 0 %} fr-input-group--error{% endif %}">
                {{ form_label(form.address.startAddress, null,  {'label_attr': {'for':'facts-startAddress-address'}}) }}
                {{ component('etalab_component', {
                    'data-live-id': 'facts-startAddress-address',
                    dataModel: 'addressSearch:startAddressEtalabInput.addressSearch addressId:startAddressEtalabInput.addressId addressSearchSaved:startAddressEtalabInput.addressSearchSaved latitude:startAddressEtalabInput.latitude longitude:startAddressEtalabInput.longitude',
                    inputName: 'facts-startAddress-address',
                    dataGirondeEnabled: true,
                    isBetweenTwoPlaces: form.address.startAddress is defined and form.address.endAddress is defined ? true : false,
                    errors: etalab_errors
                }) }}
            </div>
        {% endif %}
        {% if form.address.endAddress is defined %}
            {% set etalab_errors = [] %}
            {% for error in form.address.endAddress.address.vars.errors %}
                {% set etalab_errors = etalab_errors|merge([error.message]) %}
            {% endfor %}
            <div class="fr-input-group{% if etalab_errors|length > 0 %} fr-input-group--error{% endif %}">
                {{ form_label(form.address.endAddress, null,  {'label_attr': {'for':'facts-endAddress-address'}}) }}
                {{ component('etalab_component', {
                    'data-live-id': 'facts-endAddress-address',
                    dataModel: 'addressSearch:endAddressEtalabInput.addressSearch addressId:endAddressEtalabInput.addressId addressSearchSaved:endAddressEtalabInput.addressSearchSaved latitude:endAddressEtalabInput.latitude longitude:endAddressEtalabInput.longitude',
                    inputName: 'facts-endAddress-address',
                    dataGirondeEnabled: true,
                    isBetweenTwoPlaces: form.address.startAddress is defined and form.address.endAddress is defined ? true : false,
                    errors: etalab_errors,
                    required: form.address.endAddress.vars.required
                }) }}
            </div>
        {% endif %}
        {{ form_row(form.address.addressAdditionalInformation) }}
    </div>
    <hr>
    <div class="fr-pt-4v fr-px-6v fr-pb-10v fr-pt-md-6v fr-px-md-20v">
        <h2 class="text-[22px]/7 md:text-[28px]/9">{{ 'pel.describe.whats.happened'|trans }}</h2>
        {% set has_errors = form.description.vars.errors is not empty %}
        <div class="{{ html_classes('fr-mt-8v', 'fr-mb-4v', 'fr-mt-md-12v', 'fr-input-group', {'fr-input-group--error': has_errors}) }}">
            {% embed 'embed/counter.html.twig' with {
                'parent': 'facts_description',
                'minlength': form.description.vars.attr.minlength,
                'maxlength': form.description.vars.attr.maxlength,
                'help': 'pel.resume.the.infraction.in.few.words'
            } %}
                {% block label %}
                    {{ form_label(form.description) }}
                {% endblock %}
                {% block widget %}
                    {{ form_widget(form.description, {'attr':{'class':html_classes(attr.class ?? '', 'fr-input', {'fr-input--error':has_errors}),'aria-describedby':has_errors ? 'form-errors-'~ form.description.vars.id :false}}) }}
                {% endblock %}
                {% block errors %}
                    {{ form_errors(form.description) }}
                {% endblock %}
            {% endembed %}
        </div>
        <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-5v">
            <p class="fr-text--xs text-[var(--light-text-default-info,#0063CB)]">{{ 'pel.your.declaration.will.be.reviewed.by.an.agent'|trans }}</p>
        </div>
        {{ form_row(form.victimOfViolence) }}
        {% if form.victimOfViolenceText is defined %}
            <div class="fr-mt-3v">
                <div class="{{ html_classes('fr-input-group', 'fr-mb-4v', {'fr-input-group--error': form.victimOfViolenceText.vars.errors is not empty}) }}">
                    {{ form_label(form.victimOfViolenceText) }}
                    {{ form_widget(form.victimOfViolenceText, {'attr':{'class':html_classes(form.victimOfViolenceText.vars.attr.class ?? '', 'fr-input', {'fr-input--error':form.victimOfViolenceText.vars.errors is not empty}),'aria-describedby':form.victimOfViolenceText.vars.errors is not empty ? 'form-errors-'~ form.victimOfViolenceText.vars.id :false}}) }}
                    {{ form_errors(form.victimOfViolenceText) }}
                </div>
                <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-2v">
                    <p class="fr-text--xs text-[var(--light-text-default-info,#0063CB)]">{{ 'pel.victim.of.violence.information'|trans }}</p>
                </div>
            </div>
        {% endif %}
    </div>
    <hr>
    <div class="fr-pt-4v fr-px-6v fr-pb-12v fr-pt-md-6v fr-px-md-20v text-center">
        <ul class="pel-list--no-style flex items-center justify-start gap-x-4 md:justify-between">
            <li>
                <a href="{{ path('complaint_identity') }}"
                class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line fr-text--lg py-3 md:py-2.5 pr-[5px] pl-[13px] md:pr-6 md:pl-[18px] before:content-[''] before:w-6 before:h-6">
                    <span class="max-lg:visually-hidden">{{ 'pel.previous'|trans }}</span>
                </a>
            </li>
            <li>
                <button type="submit"
                        class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line fr-text--lg py-2.5 pr-[18px] pl-6 after:w-6 after:h-6"
                        {% if this.fromSummary is not same as(true) %} aria-label="{{ 'pel.next.aria-label'|trans }}" {% endif %}
                        id="facts_submit" {% if this.fromSummary is same as(true) %} data-action="live#action" data-action-name="prevent|submit" {% endif %}>{{ this.fromSummary is same as(true) ? 'pel.save.and.go.to.next'|trans : 'pel.next'|trans }}</button>
                {% if this.fromSummary is same as(true) %}
                    <button type="submit"
                            class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line fr-text--lg py-2.5 pr-[18px] pl-6 after:w-6 after:h-6"
                            id="facts_submit_recap" data-action="live#action"
                            data-action-name="prevent|submit(redirectToSummary=true)">
                        {{ 'pel.save.and.go.to.summary'|trans }}
                    </button>
                {% endif %}
            </li>
        </ul>
    </div>
    {{ form_end(form, {render_rest: false}) }}
</div>
