<div {{ attributes }}>
    {{ form_start(form, {attr: {'data-action': 'live#action','data-action-name': 'prevent|submit'}}) }}
    <div class="fr-grid-row">
        <div class="fr-col">
            <div id="form-identity" class="fr-py-1w">
                <p>{{ 'pel.all.fields.are.required'|trans }}</p>
                <div class="fr-py-1w">
                    {% include 'common/_civil_state.html.twig' with {'form':form.civilState} %}
                </div>
                <div class="fr-py-1w">
                    {% include 'common/_contact_information.html.twig' with {'form':form.contactInformation} %}
                </div>
                <div class="fr-py-2w">
                    {{ form_row(form.declarantStatus) }}
                </div>
                {% if form.corporation is defined %}
                    {% include 'common/_corporation.html.twig' with {'form':form.corporation} %}
                {% endif %}
                {% if form.representedPersonCivilState is defined and form.representedPersonContactInformation is defined %}
                    <h2>{{ 'pel.represented.person.identity'|trans }}</h2>
                    <div class="fr-py-1w">
                        {% include 'common/_civil_state.html.twig' with {'form':form.representedPersonCivilState} %}
                    </div>
                    <div class="fr-py-1w">
                        {% include 'common/_contact_information.html.twig' with {'form':form.representedPersonContactInformation} %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="fr-grid-row">
        <div class="fr-col">
            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                <li>
                    <button type="submit" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line" id="identity_submit" {% if this.fromSummary is same as(true) %}data-action="live#action" data-action-name="prevent|submit"{% endif %}>{{ this.fromSummary is same as(true) ? 'pel.save.and.go.to.next'|trans : 'pel.next'|trans }}</button>
                </li>
                {% if this.fromSummary is same as(true) %}
                    <li>
                        <button type="submit" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line" id="identity_submit_recap" data-action="live#action" data-action-name="prevent|submit(redirectToSummary=true)">{{ 'pel.save.and.go.to.summary'|trans }}</button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
</div>
