<div {{ attributes.add(stimulus_controller('complaint-submit')) }}>
    {{ form_start(form, {attr: {'data-action': 'live#action complaint-submit#submit','data-action-name': 'prevent|submit'}}) }}
    <div class="fr-pt-10v fr-pb-12v fr-px-6v fr-py-md-12v fr-px-md-20v">
        <h1 class="text-[28px]/9 md:text-[40px]/[48px] fr-mb-2v">{{ 'pel.complaint.your.identity'|trans }}</h1>
        <p class="fr-mb-0">{{ 'pel.all.fields.marked.with.an.asterisk.are.mandatory'|trans|raw }}</p>
    </div>
    <hr>
    <div class="fr-grid-row">
        <div class="fr-col">
            <div class="fr-pt-4v fr-px-6v fr-pt-md-6v fr-px-md-20v ">
                <h2 class="text-[22px]/7 md:text-[28px]/9  fr-mb-8v fr-mb-md-12v">{{ 'pel.specify.your.status.in.this.process'|trans }}</h2>
                {% block choice_row %}
                    <div class="fr-form-group fr-mb-md-3v">
                        <fieldset
                            class="{{ html_classes('fr-fieldset', 'fr-input-group', 'fr-mb-0', {'fr-fieldset--error': form.declarantStatus.vars.errors is not empty}) }}" {% if form.declarantStatus.vars.errors is not empty %} role="group" aria-labelledby="legend-{{ form.declarantStatus.vars.id }} form-errors-{{ form.declarantStatus.vars.id }}" {% endif %}>
                            <legend class="fr-fieldset__legend fr-text--regular fr-mb-6v"
                                    id="legend-{{ form.declarantStatus.vars.id }}">
                                {{ form.declarantStatus.vars.label|trans }}&nbsp;<span
                                    class="text-[var(--text-default-error)]">*</span>
                            </legend>
                            {% for child in form.declarantStatus.children %}
                                <div class="fr-fieldset__element">
                                    <div class="fr-radio-group fr-radio-rich [&_input[type=radio]_+_label]:before:content-[''] [&_input[type=radio]_+_label]:before:left-6">
                                        {{ form_widget(child) }}
                                        <label class="fr-label gap-y-1 fr-pl-16v" for="{{ child.vars.id }}">
                                            {{ child.vars.label|trans|striptags }}
                                            <span
                                                class="fr-hint-text">{{ form.declarantStatus.vars.choices_help[child.vars.value]|trans }}</span>
                                        </label>
                                        <div class="fr-radio-rich__img flex justify-center items-center h-[calc(100%-0.5rem)] [html[data-fr-theme=dark]_&]:before:content-[''] before:absolute before:left-0.5 before:top-0 before:w-full before:h-full before:bg-white">
                                            <img
                                                class="relative"
                                                src="{{ asset(form.declarantStatus.vars.choices_img[child.vars.value].src) }}"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </fieldset>
                        {% if form.declarantStatus.vars.errors is not empty %}
                            <div class="-mt-4">{{ form_errors(form.declarantStatus) }}</div>
                        {% endif %}
                    </div>
                    <p class="fr-mb-md-12v fr-mt-4v fr-mt-md-6v">
                        <a href="{{ path('faq', {'_fragment': 'pel-faq-section'}) }}" class="fr-text--sm fr-text-title--blue-france" target="_blank"
                            rel="noopener"
                            title="{{ 'pel.frequently.asked.questions'|trans|add_new_window_text }}">{{ 'pel.frequently.asked.questions'|trans }}</a>
                    </p>
                {% endblock %}
            </div>
        </div>
    </div>

    <hr>
    <div class="fr-grid-row">
        <div class="fr-col">
            <div id="form-identity">
                <div class="fr-pt-4v fr-px-6v fr-pb-6v fr-py-md-6v fr-px-md-20v">
                    {% include 'common/_civil_state.html.twig' with {'form':form.civilState, 'representedPerson': false} %}
                </div>
                <hr>
                <div class="fr-pt-4v fr-px-6v fr-pb-12v fr-pt-md-6v fr-px-md-20v">
                    {% include 'common/_contact_information.html.twig' with {
                        'form':form.contactInformation,
                        'template_id': 'contact-information',
                        'etalabPropertyName': 'contactInformationEtalabInput',
                        'representedPerson': false
                    } %}
                    <div class="fr-pt-4v">
                        {{ 'pel.consent.confirmation'|trans }}
                    </div>
                    <div class="fr-pt-4v">
                        {{ form_row(form.consentContactEmail) }}
                    </div>
                    <div class="fr-pt-4v">
                        {{ form_row(form.consentContactSMS) }}
                    </div>
                    {% if form.consentContactPortal is defined %}
                        <div class="fr-pt-4v">
                            {{ form_row(form.consentContactPortal) }}
                        </div>
                    {% endif %}
                </div>
                {% if form.corporation is defined %}
                    <hr>
                    <div class="fr-pt-4v fr-px-6v fr-pb-6v fr-pt-md-6v fr-px-md-20v fr-pb-md-12v">
                        {% include 'common/_corporation.html.twig' with {'form':form.corporation} %}
                    </div>
                {% endif %}
                {# Person Legal Representative must be hidden for the experimentation #}
{#                {% if form.representedPersonCivilState is defined and form.representedPersonContactInformation is defined %}#}
{#                    <hr>#}
{#                    <h2 class="text-[22px]/7 md:text-[28px]/9 fr-pt-4v fr-px-6v fr-pt-md-6v fr-px-md-20v">{{ 'pel.represented.person.identity'|trans }}</h2>#}
{#                    <div class="fr-pt-2v fr-px-6v fr-pb-6v fr-pt-md-0 fr-pb-md-6v fr-px-md-20v">#}
{#                        {% include 'common/_civil_state.html.twig' with {'form':form.representedPersonCivilState, 'representedPerson': true} %}#}
{#                    </div>#}
{#                    <hr>#}
{#                    <div class="fr-pt-4v fr-px-6v fr-pb-12v fr-pt-md-6v fr-px-md-20v">#}
{#                        {% include 'common/_contact_information.html.twig' with {#}
{#                            'form':form.representedPersonContactInformation,#}
{#                            'template_id': 'represented-person',#}
{#                            'etalabPropertyName': 'representedPersonEtalabInput',#}
{#                            'representedPerson': true#}
{#                        } %}#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
        </div>
    </div>
    <hr>
    <div class="fr-pt-4v fr-pb-12v fr-pt-md-6v text-center {{ this.fromSummary is same as(true) ? 'fr-px-6v' : 'fr-px-6v fr-px-md-20v' }}">
        <ul class="pel-list--no-style flex items-center justify-start gap-x-4 md:justify-between">
            <li>
                <a href="{{ path('complaint_law_refresher') }}"
                class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line py-3 md:py-2.5 pr-[5px] pl-[13px] md:pr-6 md:pl-[18px] before:content-[''] before:w-6 before:h-6  {{ this.fromSummary is same as(true) ? 'fr-text--xs' : 'fr-text--lg' }}">
                    <span class="max-lg:visually-hidden">{{ 'pel.previous'|trans }}</span>
                </a>
            </li>
            <li class="{{ this.fromSummary is same as(true) ? 'flex flex-col sm:flex-row gap-4 sm:items-center' : '' }}">
                <button type="submit"
                    class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line py-2.5 pr-[18px] pl-6 after:w-6 after:h-6  {{ this.fromSummary is same as(true) ? 'fr-text--xs' : 'fr-text--lg' }}"
                    {% if this.fromSummary is not same as(true) %} aria-label="{{ 'pel.next.aria-label'|trans }}" {% endif %}
                    id="identity_submit" {% if this.fromSummary is same as(true) %} data-action="live#action" data-action-name="prevent|submit" {% endif %}>{{ this.fromSummary is same as(true) ? 'pel.save.and.go.to.next'|trans : 'pel.next'|trans }}</button>
                {% if this.fromSummary is same as(true) %}
                    <button type="submit"
                            class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line py-2.5 pr-[18px] pl-6 after:w-6 after:h-6  {{ this.fromSummary is same as(true) ? 'fr-text--xs' : 'fr-text--lg' }}"
                            id="identity_submit_recap" data-action="live#action"
                            data-action-name="prevent|submit(redirectToSummary=true)">
                        {{ 'pel.save.and.go.to.summary'|trans }}
                    </button>
                {% endif %}
            </li>
        </ul>
    </div>
    {{ form_end(form, {render_rest: false}) }}
</div>
