<div {{ attributes }}>
    {{ form_start(form, {attr: {'data-action': 'live#action','data-action-name': 'prevent|submit'}}) }}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col-6">
            {{ form_row(form.objects) }}
        </div>
    </div>
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col-6">
            {% set objectsQuantity = form.objects.vars.data|objects_quantity %}
            {{ 'pel.total.message.one'|trans }}
            <strong>{{ objectsQuantity }} {{ 'pel.total.message.two'|trans({'%quantity%': objectsQuantity}) }}</strong>
            {{ 'pel.total.message.amount'|trans }}
            <strong>{{ form.objects.vars.data|objects_amount|format_currency('EUR', {fraction_digit: 2}) }}</strong>
        </div>
    </div>
    <div class="flex--between fr-mt-3w fr-mb-3w">
        <a href="{{ path('complaint_facts') }}" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line">{{ 'pel.previous'|trans }}</a>
        <button type="submit" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line" id="objects_submit">{{ 'pel.next'|trans }}</button>
    </div>
    {{ form_end(form) }}
</div>
