<div {{ attributes.add(stimulus_controller('complaint-submit')) }}>
    {{ form_start(form, {attr: {'data-action': 'live#action complaint-submit#submit','data-action-name': 'prevent|submit'}}) }}
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col-6">
            {% for object in form.objects %}
                <div class="fr-mt-2w">
                    {% if object.category is defined %}
                        {{ form_row(object.category) }}
                    {% endif %}
                    {% if object.label is defined %}
                        {{ form_row(object.label) }}
                    {% endif %}

                    {{ include('components/_partials/_objects/_document_fields.html.twig') }}

                    {% if object.status is defined %}
                        {{ form_row(object.status) }}
                    {% endif %}
                    {% if object.files is defined %}
                        {{ form_row(object.files) }}
                    {% endif %}

                    {{ include('components/_partials/_objects/_payment_ways_fields.html.twig') }}
                    {{ include('components/_partials/_objects/_multimedia_fields.html.twig') }}
                    {{ include('components/_partials/_objects/_vehicle_fields.html.twig') }}
                    {{ include('components/_partials/_objects/_other_fields.html.twig') }}

                    {% if object.amount is defined %}
                        {{ form_row(object.amount) }}
                    {% endif %}

                    {{ include('components/_partials/_objects/_mobile_fields.html.twig') }}
                </div>
                {% if form.objects|length > 1 %}
                    <div>
                        {{ form_widget(object.vars.button_delete, {attr: {'data-action': 'live#action', 'data-action-name': 'removeObject(index=' ~ loop.index0 ~ ') removeCollectionItem(name=objects[objects], index=' ~ loop.index0 ~ ')'}}) }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="fr-mt-2w">
                {{ form_widget(form.objects.vars.button_add, {attr: {'data-action': 'live#action', 'data-action-name': 'prevent|addObject addCollectionItem(name=objects[objects])'}}) }}
            </div>
        </div>
    </div>
    <div class="fr-grid-row fr-py-2w">
        <div class="fr-col-6">
            {% set objectsQuantity = form.objects.vars.data|objects_quantity %}
            {{ 'pel.total.message.one'|trans }}
            <strong>{{ objectsQuantity }} {{ 'pel.total.message.two'|trans({'%quantity%': objectsQuantity}) }}</strong>
            {{ 'pel.total.message.amount'|trans }}
            <strong>{{ form.objects.vars.data|objects_amount|format_currency('EUR', {fraction_digit: 2}) }}</strong>
        </div>
    </div>
    <div class="flex--between fr-mt-3w fr-mb-3w">
        <a href="{{ path('complaint_facts') }}"
           class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line">{{ 'pel.previous'|trans }}</a>
        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
            <li>
                <button type="submit" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line" id="objects_submit"
                        {% if this.fromSummary is same as(true) %}data-action="live#action"
                        data-action-name="prevent|submit"{% endif %}>{{ this.fromSummary is same as(true) ? 'pel.save.and.go.to.next'|trans : 'pel.next'|trans }}</button>
            </li>
            {% if this.fromSummary is same as(true) %}
                <li>
                    <button type="submit" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line"
                            id="objects_submit_recap" data-action="live#action"
                            data-action-name="prevent|submit(redirectToSummary=true)">{{ 'pel.save.and.go.to.summary'|trans }}</button>
                </li>
            {% endif %}
        </ul>
    </div>
    {{ form_end(form, { render_rest: false }) }}
</div>
