{% extends 'layout.html.twig' %}

{% block body %}
    <section class="background-light">
        <div class="container w-100 mw-100">
            <div class="row">
                <div class="col-md-8 col-lg-9 col-xxl-10 mx-auto p-4">
                    <div class="fs-3 mb-2">{{ 'pel.faq'|trans }}</div>
                    <div class="mb-4">{{ 'pel.faq.find.best.practices'|trans }}</div>
                    <div class="row mt-5 mb-5">
                        <div class="col-md-12 col-lg-8 mx-auto">
                            <form>
                                <div class="fr-search-bar fr-search-bar--lg" id="search-2" role="search">
                                    <label class="fr-label" for="search">
                                        {{ 'pel.search.by.keyword.or.reference'|trans }}
                                    </label>
                                    <input class="fr-input" placeholder="{{ 'pel.search.by.keyword.or.reference'|trans }}" type="search" id="search" name="search">
                                    <button class="fr-btn">
                                        {{ 'pel.search'|trans }}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container w-100 mw-100">
            <div class="row">
                <div class="col-md-8 col-lg-9 col-xxl-10 mx-auto p-4">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <a href="#" class="mb-3 text-black text-blue-hover hover-bold reset-link border border-blue-bottom p-3 d-flex align-items-center justify-content-start background-light-hover">
                                <div class="background-light text-blue p-2 me-2">
                                    <span class="fr-icon-play-circle-line" aria-hidden="true"></span>
                                </div>
                                {{ 'pel.video.tutorial'|trans }}
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <a href="#" class="mb-3 text-black text-blue-hover hover-bold reset-link border border-blue-bottom p-3 d-flex align-items-center justify-content-start background-light-hover">
                                <div class="background-light text-blue p-2 me-2">
                                    <span class="fr-icon-questionnaire-fill" aria-hidden="true"></span>
                                </div>
                                {{ 'pel.questions.answers'|trans }}
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <a href="#" class="mb-3 text-black text-blue-hover hover-bold reset-link border border-blue-bottom p-3 d-flex align-items-center justify-content-start background-light-hover">
                                <div class="background-light text-blue p-2 me-2">
                                    <span class="fr-icon-information-fill" aria-hidden="true"></span>
                                </div>
                                {{ 'pel.regulatory.information'|trans }}
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <a href="#" class="mb-3 text-black text-blue-hover hover-bold reset-link border border-blue-bottom p-3 d-flex align-items-center justify-content-start background-light-hover">
                                <div class="background-light text-blue p-2 me-2">
                                    <span class="fr-icon-phone-fill" aria-hidden="true"></span>
                                </div>
                                {{ 'pel.useful.numbers'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container w-100 mw-100">
            <div class="row">
                <div class="col-md-8 col-lg-9 col-xxl-10 mx-auto p-4">
                    <div class="fr-accordions-group">
                        {% for question in questions %}
                            <div class="fr-accordion mb-4">
                                <div class="fr-accordion__title">
                                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-{{ loop.index }}" id="heading-{{ loop.index }}">{{ question.question }}</button>
                                </div>
                                <div class="fr-collapse" id="accordion-{{ loop.index }}">
                                    {{ question.answer }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
