{% extends 'layout.html.twig' %}

{% block body %}
    <h1 class="mt-4">{{ 'pel.reporting'|trans }}</h1>
    <h2 class="mb-3">{{ 'pel.reporting.declaration.state'|trans }}</h2>
    <div class="border border-secondary bg-light rounded p-3">
        <h2 class="fs-3 fw-semibold lh-lg">{{ 'pel.declarations.status'|trans }} :</h2>
        <div class="row">
            {% if is_granted('ROLE_SUPERVISOR') %}
                <div class="col-2 text-center">
                    <a class="btn border border-secondary m-3 p-4 fs-1 fw-bold" id="complaints_assignment_pending" href="{{ path('home', {status: 'a-attribuer'}) }}" title="{{ 'pel.click.here.to.display.these.complaints'|trans }}">{{ complaints|count_complaints_assignment_pending }}</a>
                    <p class="fs-3">{{ 'pel.assignment.pending'|trans }}</p>
                </div>
            {% endif %}
            <div class="col-2 text-center">
                <a class="btn border border-secondary m-3 p-4 fs-1 fw-bold" id="complaints_ongoing_lrp" href="{{ path('home', {status: 'en-cours-lrp'}) }}" title="{{ 'pel.click.here.to.display.these.complaints'|trans }}">{{ complaints|count_complaints_ongoing_lrp }}</a>
                <p class="fs-3">{{ 'pel.ongoing.lrp'|trans }}</p>
            </div>
            <div class="col-2 text-center">
                <a class="btn border border-secondary m-3 p-4 fs-1 fw-bold" id="complaints_appointment_pending" href="{{ path('home', {status: 'attente-rdv'}) }}" title="{{ 'pel.click.here.to.display.these.complaints'|trans }}">{{ complaints|count_complaints_appointment_pending }}</a>
                <p class="fs-3">{{ 'pel.appointment.pending'|trans }}</p>
            </div>
            <div class="col-2 text-center">
                <a class="btn border border-secondary m-3 p-4 fs-1 fw-bold" id="complaints_unit_redirection_pending" href="{{ path('home', {status: 'attente-reorientation'}) }}" title="{{ 'pel.click.here.to.display.these.complaints'|trans }}">{{ complaints|count_complaints_unit_redirection_pending }}</a>
                <p class="fs-3">{{ 'pel.unit.redirection.pending'|trans }}</p>
            </div>
            <div class="col-2 text-center">
                <a class="btn border border-secondary m-3 p-4 fs-1 fw-bold" id="complaints_closed" href="{{ path('home', {status: 'cloturee'}) }}" title="{{ 'pel.click.here.to.display.these.complaints'|trans }}">{{ complaints|count_complaints_closed }}</a>
                <p class="fs-3">{{ 'pel.closed'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}
